nodered_flow_examples/adding_axes.json
[{"id":"ea2d52a.67802b","type":"tab","label":"Ex. Axis","disabled":false,"info":""},{"id":"dc7a4688.ee8fb8","type":"rtds-create","z":"ea2d52a.67802b","rtdsName":"Axis RTDS","dimensionSize":"20","clientFunction":"RRJSIATK_RTDSCreate","x":310,"y":120,"wires":[["303feea4.797cb2"]]},{"id":"303feea4.797cb2","type":"rtds-add-dimension","z":"ea2d52a.67802b","dimensionName":"Temperature","minValue":0,"maxValue":"50","dataType":1,"clientFunction":"RRJSIATK_RTDSAddDimension","x":490,"y":120,"wires":[["ea73e6ca.f48368"]]},{"id":"bf233465.5c9238","type":"rtds-set-insert-behavior","z":"ea2d52a.67802b","shiftdata":"0","clientFunction":"RRJSIATK_RTDSSetShiftdata","x":910,"y":120,"wires":[[]]},{"id":"ea73e6ca.f48368","type":"rtds-add-dimension","z":"ea2d52a.67802b","dimensionName":"Activity","minValue":0,"maxValue":"100","dataType":1,"clientFunction":"RRJSIATK_RTDSAddDimension","x":690,"y":120,"wires":[["bf233465.5c9238"]]},{"id":"a4faabf.3455558","type":"view-builder","z":"ea2d52a.67802b","viewName":"","pointCount":"","meshTopology":5,"geometryType":1,"clientFunction":"RRJSIATK_ViewBuilder","x":470,"y":220,"wires":[["e5207a0a.536c48"]]},{"id":"e5207a0a.536c48","type":"set-view-data","z":"ea2d52a.67802b","viewData":-1,"clientFunction":"RRJSIATK_SetViewData","x":630,"y":220,"wires":[["e05bc93d.d1acb8"]]},{"id":"d461d381.cdc1d","type":"function","z":"ea2d52a.67802b","name":"view setup","func":"msg.viewBuilder = {};\nmsg.viewBuilder.viewName = \"RTDS Demo\";\nmsg.viewBuilder.pointCount = 100;\n\nmsg.view = {};\nmsg.view.name = msg.viewBuilder.viewName;\nmsg.view.attributes = [];\nmsg.view.data = [];\nlet xData = [];\nlet yData = [];\nlet zData = [];\nlet colors = [];\nfor(let i = 0; i < msg.viewBuilder.pointCount; i++) {\n    let temp = Math.random();\n    temp = temp * temp;\n    let act = Math.random();\n    xData.push(temp);\n    yData.push(act);\n    zData.push(0);\n    colors.push([temp, 0, act]);\n}\nmsg.view.data[CNRIF.ViewData.XPosition] = xData;\nmsg.view.data[CNRIF.ViewData.YPosition] = yData;\nmsg.view.data[CNRIF.ViewData.ZPosition] = zData;\nmsg.view.data[CNRIF.ViewData.Color] = colors;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":220,"wires":[["a4faabf.3455558"]]},{"id":"bde7ad33.97125","type":"view-set-axis-data","z":"ea2d52a.67802b","dataSource":"Axis RTDS","dimension":"Temperature","axes":"x","clientFunction":"RRJSIATK_ViewSetAxisData","x":990,"y":220,"wires":[["107824bc.5705ab"]]},{"id":"107824bc.5705ab","type":"view-set-axis-data","z":"ea2d52a.67802b","dataSource":"Axis RTDS","dimension":"Activity","axes":"y-r","clientFunction":"RRJSIATK_ViewSetAxisData","x":1190,"y":220,"wires":[[]]},{"id":"bdd68fe5.ff263","type":"inject","z":"ea2d52a.67802b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["dc7a4688.ee8fb8","d461d381.cdc1d"]]},{"id":"7be054d.eccedac","type":"comment","z":"ea2d52a.67802b","name":"Setup RTDS","info":"Creates a Realtime Data Source with a dimension size of 20. This size can not be changed without destroying and re-creating the data source.","x":310,"y":80,"wires":[]},{"id":"ba109df0.da185","type":"comment","z":"ea2d52a.67802b","name":"Create Dimensions","info":"Creates two dimensions. One \"Temperature\" float dimension normalized between 0 and 50, and one \"Activity\" float dimension normalized between 0 and 100.","x":490,"y":80,"wires":[]},{"id":"f4025693.651f48","type":"comment","z":"ea2d52a.67802b","name":"Insert Behavior","info":"Sets the insert behavior to override. For details on insert behaviors, check the node's documentation.","x":880,"y":80,"wires":[]},{"id":"7cd11cff.ace6a4","type":"comment","z":"ea2d52a.67802b","name":"Setup View","info":"This function node constructs the message that the view builder node accepts. The points are set up to create a circle with rainbow colors.","x":310,"y":180,"wires":[]},{"id":"7d839e9a.f091","type":"comment","z":"ea2d52a.67802b","name":"Build View","info":"This node creates the view GameObject in the scene. After its creation it can be retrieved with a get view node.","x":460,"y":180,"wires":[]},{"id":"3487146c.76a65c","type":"comment","z":"ea2d52a.67802b","name":"Apply Data","info":"This node applies the XYZ positions and colors from the view setup function to the view.","x":620,"y":180,"wires":[]},{"id":"5de48341.7ae5ac","type":"comment","z":"ea2d52a.67802b","name":"Add Axes","info":"This node adds axes to the view, making them addressable in all downstream nodes.","x":780,"y":180,"wires":[]},{"id":"8909e4f9.a0aad8","type":"comment","z":"ea2d52a.67802b","name":"Set Axis Data","info":"The RTDS dimensions are linked with the axes. The axis labels always correspond with the name of the RTDS dimension.","x":970,"y":180,"wires":[]},{"id":"e05bc93d.d1acb8","type":"view-add-axes","z":"ea2d52a.67802b","axes":"x,y-r","clientFunction":"RRJSIATK_ViewAddAxes","x":800,"y":220,"wires":[["bde7ad33.97125"]]}]