nodered_flow_examples/axes_dynamic_labels.json
[{"id":"987ba47f.a2cb48","type":"tab","label":"Ex. Dynamic Labels","disabled":false,"info":""},{"id":"6d0fb0f4.02634","type":"rtds-create","z":"987ba47f.a2cb48","rtdsName":"Dynamic Labels RTDS","dimensionSize":"7","clientFunction":"RRJSIATK_RTDSCreate","x":310,"y":120,"wires":[["ef6f4155.b43e8"]]},{"id":"ef6f4155.b43e8","type":"rtds-add-dimension","z":"987ba47f.a2cb48","dimensionName":"Temperature","minValue":0,"maxValue":"50","dataType":1,"clientFunction":"RRJSIATK_RTDSAddDimension","x":490,"y":120,"wires":[["2b67869f.726bba"]]},{"id":"50177f30.4298f","type":"rtds-set-insert-behavior","z":"987ba47f.a2cb48","shiftdata":"1","clientFunction":"RRJSIATK_RTDSSetShiftdata","x":970,"y":120,"wires":[["547a34bc.100ffc"]]},{"id":"8aaf346c.23fc38","type":"view-builder","z":"987ba47f.a2cb48","viewName":"","pointCount":"","meshTopology":5,"geometryType":"6","clientFunction":"RRJSIATK_ViewBuilder","x":470,"y":220,"wires":[["130d4394.57be0c"]]},{"id":"130d4394.57be0c","type":"set-view-data","z":"987ba47f.a2cb48","viewData":-1,"clientFunction":"RRJSIATK_SetViewData","x":630,"y":220,"wires":[["abefcd56.cd729"]]},{"id":"9dbc1428.1f3538","type":"function","z":"987ba47f.a2cb48","name":"view setup","func":"msg.viewBuilder = {};\nmsg.viewBuilder.viewName = \"RTDS Demo\";\nmsg.viewBuilder.pointCount = 7;\n\nmsg.view = {};\nmsg.view.name = msg.viewBuilder.viewName;\nmsg.view.attributes = [];\nmsg.view.data = [];\nlet xData = [];\nlet yData = [];\nlet zData = [];\nlet colors = [];\nfor(let i = 0; i < msg.viewBuilder.pointCount; i++) {\n    xData.push(1 / (msg.viewBuilder.pointCount - 1) * i);\n    yData.push(0);\n    zData.push(0);\n    colors.push([1, 0, 0]);\n}\nmsg.view.data[CNRIF.ViewData.XPosition] = xData;\nmsg.view.data[CNRIF.ViewData.YPosition] = yData;\nmsg.view.data[CNRIF.ViewData.ZPosition] = zData;\nmsg.view.data[CNRIF.ViewData.Color] = colors;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":220,"wires":[["8aaf346c.23fc38"]]},{"id":"abefcd56.cd729","type":"view-add-axes","z":"987ba47f.a2cb48","axes":"x,y","clientFunction":"RRJSIATK_ViewAddAxes","x":800,"y":220,"wires":[["4f676ef3.19f19"]]},{"id":"4f676ef3.19f19","type":"view-set-axis-data","z":"987ba47f.a2cb48","dataSource":"Dynamic Labels RTDS","dimension":"Temperature","axes":"y","clientFunction":"RRJSIATK_ViewSetAxisData","x":990,"y":220,"wires":[["5d41dd74.34d724"]]},{"id":"5d41dd74.34d724","type":"view-set-axis-data","z":"987ba47f.a2cb48","dataSource":"Dynamic Labels RTDS","dimension":"Weekday","axes":"x","clientFunction":"RRJSIATK_ViewSetAxisData","x":1190,"y":220,"wires":[[]]},{"id":"2b67869f.726bba","type":"rtds-add-dimension-discrete","z":"987ba47f.a2cb48","dimensionName":"Weekday","clientFunction":"RRJSIATK_RTDSAddDimensionDiscrete","x":720,"y":120,"wires":[["50177f30.4298f"]]},{"id":"d3b730d6.80b2f","type":"inject","z":"987ba47f.a2cb48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":320,"wires":[["1d6882b8.daaafd"]]},{"id":"bb5d7baa.9b6b48","type":"rtds-get-data","z":"987ba47f.a2cb48","dimensionName":"Temperature","location":"rtdsData","clientFunction":"RRJSIATK_RTDSGetData","x":610,"y":520,"wires":[["38ffe64a.f8deba"]]},{"id":"64f48de.4420a74","type":"rtds-set-data","z":"987ba47f.a2cb48","dimensionName":"Temperature","context":"0","location":"rtdsData","clientFunction":"RRJSIATK_RTDSSetData","x":590,"y":420,"wires":[[]]},{"id":"f718e894.1df1e8","type":"set-view-data","z":"987ba47f.a2cb48","viewData":"5","clientFunction":"RRJSIATK_SetViewData","x":920,"y":520,"wires":[["21d64000.27eee"]]},{"id":"b18c4082.05a47","type":"function","z":"987ba47f.a2cb48","name":"","func":"msg.rtdsData = Math.random() * 50;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":420,"wires":[["64f48de.4420a74"]]},{"id":"1d6882b8.daaafd","type":"rtds-get","z":"987ba47f.a2cb48","rtdsName":"Dynamic Labels RTDS","msgBehavior":"1","clientFunction":"RRJSIATK_RTDSGet","x":300,"y":320,"wires":[["b18c4082.05a47","8f8559.d592aaa8","74cab49a.00ccbc"]]},{"id":"8f8559.d592aaa8","type":"get-view","z":"987ba47f.a2cb48","viewName":"RTDS Demo","msgBehavior":"1","clientFunction":"RRJSIATK_GetView","x":440,"y":520,"wires":[["bb5d7baa.9b6b48"]]},{"id":"38ffe64a.f8deba","type":"function","z":"987ba47f.a2cb48","name":"","func":"msg.view.data = [];\nmsg.view.data[CNRIF.ViewData.YPosition] = msg.rtdsData;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":520,"wires":[["f718e894.1df1e8"]]},{"id":"74cab49a.00ccbc","type":"rtds-get-data","z":"987ba47f.a2cb48","dimensionName":"Weekday","location":"weekdays","clientFunction":"RRJSIATK_RTDSGetData","x":450,"y":320,"wires":[["83c0f3a0.674da"]]},{"id":"83c0f3a0.674da","type":"function","z":"987ba47f.a2cb48","name":"","func":"msg.weekday = msg.weekdays[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":320,"wires":[["8a0886fa.7b6c28"]]},{"id":"8a0886fa.7b6c28","type":"rtds-set-data","z":"987ba47f.a2cb48","dimensionName":"Weekday","context":"1","location":"weekday","clientFunction":"RRJSIATK_RTDSSetData","x":750,"y":320,"wires":[[]]},{"id":"547a34bc.100ffc","type":"function","z":"987ba47f.a2cb48","name":"Fill RTDS","func":"CNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Monday\", 1);\nCNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Tuesday\", 1);\nCNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Wednesday\", 1);\nCNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Thursday\", 1);\nCNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Friday\", 1);\nCNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Saturday\", 1);\nCNRIF.RTDS.SetData(msg.rtds.name, \"Weekday\", \"Sunday\", 1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":120,"wires":[[]]},{"id":"21d64000.27eee","type":"view-update-axis","z":"987ba47f.a2cb48","axes":"x","clientFunction":"RRJSIATK_ViewUpdateAxis","x":1110,"y":520,"wires":[[]]},{"id":"8493ad72.85e9b","type":"inject","z":"987ba47f.a2cb48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["6d0fb0f4.02634","9dbc1428.1f3538"]]},{"id":"f6c07cd3.2bb19","type":"comment","z":"987ba47f.a2cb48","name":"Setup RTDS","info":"Creates a Realtime Data Source with a dimension size of 20. This size can not be changed without destroying and re-creating the data source.","x":310,"y":80,"wires":[]},{"id":"8d894023.cded7","type":"comment","z":"987ba47f.a2cb48","name":"Create Dimensions","info":"Creates two dimensions. One \"Temperature\" float dimension normalized between 0 and 50. The second dimension \"Weekday\" is a discrete dimension, which instead of holding a potential range of values holds a series of strings instead.","x":490,"y":80,"wires":[]},{"id":"19b536c6.deba29","type":"comment","z":"987ba47f.a2cb48","name":"Insert Behavior","info":"Sets the insert behavior to shift. For details on insert behaviors, check the node's documentation.","x":940,"y":80,"wires":[]},{"id":"eca81175.652a","type":"comment","z":"987ba47f.a2cb48","name":"Fill RTDS","info":"Use the CNRIF API to manually populate the Weekdays dimension.","x":1160,"y":80,"wires":[]},{"id":"7d1b2c7a.c0a554","type":"comment","z":"987ba47f.a2cb48","name":"Setup View","info":"This function node constructs the message that the view builder node accepts. The points are set up to create a circle with rainbow colors.","x":310,"y":180,"wires":[]},{"id":"231a44b1.63c00c","type":"comment","z":"987ba47f.a2cb48","name":"Build View","info":"This node creates the view GameObject in the scene. After its creation it can be retrieved with a get view node.","x":460,"y":180,"wires":[]},{"id":"1a31f289.47389d","type":"comment","z":"987ba47f.a2cb48","name":"Apply Data","info":"This node applies the XYZ positions and colors from the view setup function to the view.","x":620,"y":180,"wires":[]},{"id":"1116671.7488499","type":"comment","z":"987ba47f.a2cb48","name":"Add Axes","info":"This node adds axes to the view, making them addressable in all downstream nodes.","x":780,"y":180,"wires":[]},{"id":"3101631.5e0e99c","type":"comment","z":"987ba47f.a2cb48","name":"Set Axis Data","info":"The RTDS dimensions are linked with the axes. The axis labels always correspond with the name of the RTDS dimension.","x":970,"y":180,"wires":[]},{"id":"fe89ffe0.ed136","type":"comment","z":"987ba47f.a2cb48","name":"Get RTDS","info":"This node retrieves the Realtime Data Source created above, messages are only passed on if it exists.","x":300,"y":280,"wires":[]},{"id":"bd913393.7b481","type":"comment","z":"987ba47f.a2cb48","name":"Shift Weekdays","info":"This data stream retrieves the data from the Weekdays dimension, and re-inserts the first value, which due to the shift insert behavior cycles the list.","x":460,"y":280,"wires":[]},{"id":"7e735e1.a2470a","type":"comment","z":"987ba47f.a2cb48","name":"Insert Random Data","info":"Inserts random data into the Temperature dimension.","x":470,"y":380,"wires":[]},{"id":"55461a45.197fa4","type":"comment","z":"987ba47f.a2cb48","name":"Update View","info":"Updates the view's YPosition with the current data from the Temperature dimension.","x":450,"y":480,"wires":[]},{"id":"822f5548.a0a578","type":"comment","z":"987ba47f.a2cb48","name":"Update Axis","info":"Updates the axis labels of the X axis by re-polling from the linked RTDS dimension, which in this case is Weekdays.","x":1090,"y":480,"wires":[]}]