nodered_flow_examples/basic_rtds.json
[{"id":"a96807a8.698638","type":"tab","label":"Ex. RTDS","disabled":false,"info":""},{"id":"229c2bc.b1435d4","type":"rtds-create","z":"a96807a8.698638","rtdsName":"Demo RTDS","dimensionSize":"20","clientFunction":"RRJSIATK_RTDSCreate","x":310,"y":220,"wires":[["505a422f.6c610c"]]},{"id":"505a422f.6c610c","type":"rtds-add-dimension","z":"a96807a8.698638","dimensionName":"X","minValue":0,"maxValue":1,"dataType":1,"clientFunction":"RRJSIATK_RTDSAddDimension","x":490,"y":220,"wires":[["b7adf4e5.1950a8"]]},{"id":"b7adf4e5.1950a8","type":"rtds-set-insert-behavior","z":"a96807a8.698638","shiftdata":"0","clientFunction":"RRJSIATK_RTDSSetShiftdata","x":710,"y":220,"wires":[[]]},{"id":"2518e077.1594","type":"view-builder","z":"a96807a8.698638","viewName":"","pointCount":"","meshTopology":5,"geometryType":1,"clientFunction":"RRJSIATK_ViewBuilder","x":470,"y":120,"wires":[["c7ead8aa.f71ff8"]]},{"id":"c7ead8aa.f71ff8","type":"set-view-data","z":"a96807a8.698638","viewData":-1,"clientFunction":"RRJSIATK_SetViewData","x":630,"y":120,"wires":[[]]},{"id":"63bdee03.cf084","type":"function","z":"a96807a8.698638","name":"view setup","func":"msg.viewBuilder = {};\nmsg.viewBuilder.viewName = \"RTDS Demo\";\nmsg.viewBuilder.pointCount = 20;\n\nmsg.view = {};\nmsg.view.name = msg.viewBuilder.viewName;\nmsg.view.attributes = [];\nmsg.view.data = [];\nlet xData = [];\nlet yData = [];\nlet zData = [];\nlet colors = [];\nlet angle = 360 / msg.viewBuilder.pointCount;\nfor(let i = 0; i < msg.viewBuilder.pointCount; i++) {\n    let radians = angle * i * (Math.PI / 180);\n    xData.push(0);\n    yData.push(1 / msg.viewBuilder.pointCount * i);\n    zData.push(0);\n    colors.push([Math.sin(radians), Math.sin(radians + Math.PI * 2 / 3), Math.sin(radians + Math.PI * 4 / 3)])\n}\nmsg.view.data[CNRIF.ViewData.XPosition] = xData;\nmsg.view.data[CNRIF.ViewData.YPosition] = yData;\nmsg.view.data[CNRIF.ViewData.ZPosition] = zData;\nmsg.view.data[CNRIF.ViewData.Color] = colors;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":120,"wires":[["2518e077.1594"]]},{"id":"793ff17f.1ef1b","type":"inject","z":"a96807a8.698638","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":320,"wires":[["418bcded.0a9ba4"]]},{"id":"a69a1f78.89809","type":"rtds-get-data","z":"a96807a8.698638","dimensionName":"X","location":"rtdsData","clientFunction":"RRJSIATK_RTDSGetData","x":610,"y":420,"wires":[["48bd6ae8.975c44"]]},{"id":"ab0168e9.9ed0b8","type":"rtds-set-data","z":"a96807a8.698638","dimensionName":"X","context":"0","location":"rtdsData","clientFunction":"RRJSIATK_RTDSSetData","x":610,"y":320,"wires":[[]]},{"id":"df07a5a5.5aa1f8","type":"set-view-data","z":"a96807a8.698638","viewData":"4","clientFunction":"RRJSIATK_SetViewData","x":920,"y":420,"wires":[[]]},{"id":"68aa2039.f1046","type":"function","z":"a96807a8.698638","name":"","func":"msg.rtdsData = Math.random();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":320,"wires":[["ab0168e9.9ed0b8"]]},{"id":"418bcded.0a9ba4","type":"rtds-get","z":"a96807a8.698638","rtdsName":"Demo RTDS","msgBehavior":"1","clientFunction":"RRJSIATK_RTDSGet","x":300,"y":320,"wires":[["68aa2039.f1046"]]},{"id":"92e7d177.f9687","type":"inject","z":"a96807a8.698638","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":420,"wires":[["a7a2f6e9.f564c8"]]},{"id":"a7a2f6e9.f564c8","type":"rtds-get","z":"a96807a8.698638","rtdsName":"Demo RTDS","msgBehavior":"1","clientFunction":"RRJSIATK_RTDSGet","x":300,"y":420,"wires":[["9cef8d53.b870f"]]},{"id":"9cef8d53.b870f","type":"get-view","z":"a96807a8.698638","viewName":"RTDS Demo","msgBehavior":"1","clientFunction":"RRJSIATK_GetView","x":440,"y":420,"wires":[["a69a1f78.89809"]]},{"id":"48bd6ae8.975c44","type":"function","z":"a96807a8.698638","name":"","func":"msg.view.data = [];\nmsg.view.data[CNRIF.ViewData.XPosition] = msg.rtdsData;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":420,"wires":[["df07a5a5.5aa1f8"]]},{"id":"b173fbf.804d208","type":"inject","z":"a96807a8.698638","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["229c2bc.b1435d4","63bdee03.cf084"]]},{"id":"db20a5eb.347698","type":"comment","z":"a96807a8.698638","name":"Setup View","info":"This function node constructs the message that the view builder node accepts. The points are set up to create a rainbow-colored vertical line of dots.","x":310,"y":80,"wires":[]},{"id":"8d2f4df6.d8704","type":"comment","z":"a96807a8.698638","name":"Build View","info":"This node creates the view GameObject in the scene. After its creation it can be retrieved with a get view node.","x":460,"y":80,"wires":[]},{"id":"1b0ba09a.edbb9f","type":"comment","z":"a96807a8.698638","name":"Apply Data","info":"This node applies the XYZ positions and colors from the view setup function to the view.","x":620,"y":80,"wires":[]},{"id":"716857d7.f9c978","type":"comment","z":"a96807a8.698638","name":"Setup RTDS","info":"Creates a Realtime Data Source with a dimension size of 20. This size can not be changed without destroying and re-creating the data source.","x":310,"y":180,"wires":[]},{"id":"f77b9fe1.0ee3a","type":"comment","z":"a96807a8.698638","name":"Create Dimension","info":"Creates a dimension called \"X\", which holds float values and is normalized between 0 and 1.","x":490,"y":180,"wires":[]},{"id":"d701d6f0.75c4d8","type":"comment","z":"a96807a8.698638","name":"Insert Behavior","info":"Sets the insert behavior to shift. For details on insert behaviors, check the node's documentation.","x":680,"y":180,"wires":[]},{"id":"76d6274b.10a228","type":"comment","z":"a96807a8.698638","name":"Fast Update","info":"Models a fast-updating input like a sensor, pushing data directly to a view would cause extreme amounts of redraws, slowing the application down. Instead the data is buffered in the RTDS.","x":130,"y":280,"wires":[]},{"id":"cbc6bb82.1e8078","type":"comment","z":"a96807a8.698638","name":"Slow Update","info":"Models the frame-rate of the target application, each frame the view is updated according to the current state of the RTDS.","x":130,"y":380,"wires":[]},{"id":"122d7f9f.ed018","type":"comment","z":"a96807a8.698638","name":"Get RTDS","info":"This node retrieves the Realtime Data Source created above, messages are only passed on if it exists.","x":300,"y":280,"wires":[]},{"id":"bf16bf71.26d41","type":"comment","z":"a96807a8.698638","name":"Random Data","info":"Create random data to be inserted into the dimension.","x":450,"y":280,"wires":[]},{"id":"9ac5b93e.764378","type":"comment","z":"a96807a8.698638","name":"Insert Data","info":"Insert the randomly generated data point into the data source as a float value.","x":600,"y":280,"wires":[]},{"id":"61a9912b.12b26","type":"comment","z":"a96807a8.698638","name":"Get RTDS","info":"This node retrieves the Realtime Data Source created above, messages are only passed on if it exists.","x":300,"y":380,"wires":[]},{"id":"fde0c053.fe9c7","type":"comment","z":"a96807a8.698638","name":"Retrieve View","info":"With this node, any active view can be retrieved. Downstream nodes will act on this view.","x":450,"y":380,"wires":[]},{"id":"d62a13bb.0b75a","type":"comment","z":"a96807a8.698638","name":"Read Data","info":"Reads the data in the \"X\" dimension of the RTDS and puts it into the msg object.","x":600,"y":380,"wires":[]},{"id":"2d27796e.3ebeb6","type":"comment","z":"a96807a8.698638","name":"Transfer","info":"Transfers the array to the XPosition of the view data.","x":760,"y":380,"wires":[]},{"id":"70e38ab0.3290c4","type":"comment","z":"a96807a8.698638","name":"Write Data","info":"Writes the modified position values to the view.","x":900,"y":380,"wires":[]}]