nodered_flow_examples/daisy_iatk.json
[{"id":"509c8ef5.a012c","type":"tab","label":"DaisyIATK","disabled":false,"info":""},{"id":"83e92cc6.e6ba4","type":"comment","z":"509c8ef5.a012c","name":"Init vis","info":"","x":190,"y":140,"wires":[]},{"id":"d1374204.b3dc1","type":"inject","z":"509c8ef5.a012c","name":"A","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":210,"y":180,"wires":[["841991ae.0b92d"]]},{"id":"841991ae.0b92d","type":"function","z":"509c8ef5.a012c","name":"client filter","func":"try {\n    var n = MAIN.usercanvas;\n    return msg;\n} catch(err) {\n    return null;\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":180,"wires":[["e243d36e.f8111"]]},{"id":"e243d36e.f8111","type":"function","z":"509c8ef5.a012c","name":"Create Empty Vis","func":"\nvar nextId = RT.Help.CreateGuid();\nvar chartObj = RT.VIS.GetNewChartObjectIATK2(\n    nextId, 0, \"IATKChart\", 0.4, 0.2, false);\n\nMAIN.usercanvas.charts2[nextId] = chartObj;\n\nflow.set(\"chartid\", nextId);\n\nMAIN.RR.Runtime.ToggleObjManipulation(chartObj.chartGoName);\nvar bc = MAIN.RR.Runtime.AddBoxCollider(chartObj.chartGo);\nbc.size = new MAIN.UE.Vector3(0.3, 0.3, 0.3);\n\nmsg.payload = nextId;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":180,"wires":[["46a7c242.b4bf5c","2fdede13.6c94b2"]]},{"id":"46a7c242.b4bf5c","type":"function","z":"509c8ef5.a012c","name":"add dimensions","func":"var chart = MAIN.usercanvas.charts2[msg.payload];\nchart.rtds.shiftdata = true;\nchart.rtds.AddDimension(\"score\", 0, 300);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":180,"wires":[["40d5b1c9.230f5"]]},{"id":"40d5b1c9.230f5","type":"function","z":"509c8ef5.a012c","name":"delay","func":"RT.Web.SetTiimeout(1000, function () {\n  var m = msg;\n  node.send([m]);  \n});\n//return msg;\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":240,"wires":[["d1ef6faf.684ea"]]},{"id":"d1ef6faf.684ea","type":"function","z":"509c8ef5.a012c","name":"defaultjson","func":"node.warn(\"MOPOP VIS C\");\nvar visData = \n{\n    \"UID\":\"\",\n    \"VisualisationType\":\"SCATTERPLOT\",\n    \"parallelCoordinatesDimensionsAttributes\":[],\n    \"parallelCoordinatesDimensionsMinFilter\":[],\n    \"parallelCoordinatesDimensionsMaxFilter\":[],\n    \"parallelCoordinatesDimensionsMinScale\":[],\n    \"parallelCoordinatesDimensionsMaxScale\":[],\n    \"Geometry\":4,\n    \"AxiesKeys\":[0],\n    \"AxiesValues\":[\"id\"],\n    \"ColourDimension\":\"score\",\n    \"SizeDimension\":\"Undefined\",\n    \"LinkingDimension\":\"names\",\n    \"colourKeys\":\n    {\n        \"serializedVersion\":\"2\",\n        \"key0\":{\"r\":1.0,\"g\":0.0,\"b\":0.0,\"a\":1.0},\n        \"key1\":{\"r\":1.0,\"g\":0.0,\"b\":0.0,\"a\":1.0},\n        \"key2\":{\"r\":0.0,\"g\":0.0,\"b\":0.0,\"a\":0.0},\n        \"key3\":{\"r\":0.0,\"g\":0.0,\"b\":0.0,\"a\":0.0},\n        \"key4\":{\"r\":0.0,\"g\":0.0,\"b\":0.0,\"a\":0.0},\n        \"key5\":{\"r\":0.0,\"g\":0.0,\"b\":0.0,\"a\":0.0},\n        \"key6\":{\"r\":0.0,\"g\":0.0,\"b\":0.0,\"a\":0.0},\n        \"key7\":{\"r\":0.0,\"g\":0.0,\"b\":0.0,\"a\":0.0},\n        \"ctime0\":0,\"ctime1\":65535,\"ctime2\":0,\"ctime3\":0,\"ctime4\":0,\"ctime5\":0,\"ctime6\":0,\"ctime7\":0,\n        \"atime0\":0,\"atime1\":65535,\"atime2\":0,\"atime3\":0,\"atime4\":0,\"atime5\":0,\"atime6\":0,\"atime7\":0,\n        \"m_Mode\":0,\n        \"m_NumColorKeys\":2,\n        \"m_NumAlphaKeys\":2\n    },\n    \"colour\":{\"r\":0.0,\"g\":0.0,\"b\":1.0,\"a\":0.5},\n    \"Size\":0.2,\n    \"MinSize\":0.04,\n    \"MaxSize\":0.2,\n    \"VisualisationWidth\":0.4,\n    \"VisualisationHeight\":0.4,\n    \"VisualisationDepth\":0.4\n};\nmsg.json = visData;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":320,"wires":[["4fa5929b.5ba1bc"]]},{"id":"463e52b.ae83dac","type":"function","z":"509c8ef5.a012c","name":"apply json","func":"\nvar chartId = msg.payload;\nvar chart = MAIN.usercanvas.charts2[chartId];\n\nvar json = JSON.stringify(msg.json);\nchart.vis.theVisualizationObject.creationConfiguration.DeserializeJson(json);\nimportNamespace(\"IATK\").Replicator.SyncVis(chart.vis);\n\nchart.vis.updateProperties();\nchart.fctUpdateChart();\n\nflow.set(\"this_chart_init\", true);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":360,"wires":[["8fede0b5.3214"]]},{"id":"8fede0b5.3214","type":"debug","z":"509c8ef5.a012c","name":"create scores chart","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":400,"wires":[]},{"id":"619f11d4.c1044","type":"function","z":"509c8ef5.a012c","name":"delay","func":"RT.Web.SetTiimeout(1000, function () {\n  var m = msg;\n  node.send([m]);  \n});\n//return msg;\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":360,"wires":[[]]},{"id":"470fe553.b3b63c","type":"function","z":"509c8ef5.a012c","name":"move chart","func":"var hT = null;\nvar hR = null;\nvar hS = null;\nif(MAIN.location.data.mopop.hasOwnProperty(\"scoreChartPos\")) {\n    hT = MAIN.location.data.mopop.scoreChartPos.T;\n    hR = MAIN.location.data.mopop.scoreChartPos.R;\n    hS = MAIN.location.data.mopop.scoreChartPos.S;\n} else {\n    node.warn(\"SCORESC => default\");\n    hT = MAIN.camHookGo.transform.position;\n    hR = MAIN.camHookGo.transform.rotation;\n    hS = [1, 1, 1];\n}\n\nvar chartId = flow.get(\"this_chart\");\nvar chart = MAIN.usercanvas.charts2[chartId];\n\nvar T = [hT.x, hT.y, hT.z];\nvar R = [hR.x, hR.y, hR.z, hR.w];\nvar S = [hS.x, hS.y, hS.z];\nRT.Unity.SetPose(chart.chartGo, T, R, S);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":360,"wires":[[]]},{"id":"2fdede13.6c94b2","type":"function","z":"509c8ef5.a012c","name":"store id","func":"flow.set(\"this_chart\", msg.payload);\nflow.set(\"this_chart_init\", false);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":140,"wires":[[]]},{"id":"16a3d4f6.3355cb","type":"function","z":"509c8ef5.a012c","name":"apply data","func":"//\"{\"Time\":\"2021-08-17T07:31:36\",\"BME280\":{\"Temperature\":26.1,\"Humidity\":47.2,\"DewPoint\":14.0,\"Pressure\":973.8},\"SR04\":{\"Distance\":59.368},\"PressureUnit\":\"hPa\",\"TempUnit\":\"C\"}\"\n\nvar d = msg.payload;\nvar score = d.brightness;\nvar chartId = flow.get(\"this_chart\");\n\n\nvar chart = MAIN.usercanvas.charts2[chartId];\nchart.rtds.SetDataStrVal(\"score\", score);\nchart.vis.updateProperties(); //for testing\nchart.fctUpdateChart();\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":660,"wires":[["50c5476b.1ce618"]]},{"id":"50c5476b.1ce618","type":"debug","z":"509c8ef5.a012c","name":"DIATK 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1100,"y":660,"wires":[]},{"id":"d4fc1f25.60631","type":"function","z":"509c8ef5.a012c","name":"to object","func":"var data = JSON.parse(msg.payload);\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":660,"wires":[["b74e6dc3.96acb"]]},{"id":"8c56ba11.52ea28","type":"mqtt in","z":"509c8ef5.a012c","name":"","topic":"telemetry/inffeld16/2nd/hallway/light0/main/brightness","qos":"0","datatype":"auto","broker":"73e9a24f.21590c","x":280,"y":660,"wires":[["d4fc1f25.60631","dabe0104.4e528"]]},{"id":"dabe0104.4e528","type":"debug","z":"509c8ef5.a012c","name":"DIATK 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":600,"y":700,"wires":[]},{"id":"b74e6dc3.96acb","type":"function","z":"509c8ef5.a012c","name":"client filter","func":"try {\n    var n = MAIN.usercanvas;\n    return msg;\n} catch(err) {\n    return null;\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":660,"wires":[["16a3d4f6.3355cb","7c34e542.10f2cc"]]},{"id":"4fa5929b.5ba1bc","type":"function","z":"509c8ef5.a012c","name":"Bars","func":"msg.json.Geometry = 6;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":320,"wires":[["70086eda.486ce"]]},{"id":"70086eda.486ce","type":"function","z":"509c8ef5.a012c","name":"Axis","func":"msg.json.AxiesKeys = [0, 1];\nmsg.json.AxiesValues = [\"id\", \"score\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":320,"wires":[["b5983ded.8210c"]]},{"id":"b5983ded.8210c","type":"function","z":"509c8ef5.a012c","name":"PhysicalSize","func":"msg.json.VisualisationWidth = 0.4;\nmsg.json.VisualisationHeight = 0.4;\nmsg.json.VisualisationDepth = 0.4;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":380,"wires":[["9d9d556b.45faa8"]]},{"id":"9d9d556b.45faa8","type":"function","z":"509c8ef5.a012c","name":"SizeDimension","func":"msg.json.SizeDimension = \"score\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":380,"wires":[["463e52b.ae83dac","6e4fb131.4d5b","d2a2e37c.bf853"]]},{"id":"7c34e542.10f2cc","type":"function","z":"509c8ef5.a012c","name":"direct brightness","func":"msg.payload = msg.payload.brightness;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":520,"wires":[["8e21053c.8dc918","a9480b26.e47368"]]},{"id":"71e1069e.ccaf88","type":"function","z":"509c8ef5.a012c","name":"","func":"if(msg.payload < 50) {\n    node.send([msg, null]);\n} else {\n    node.send([null, msg]);\n}\nreturn null;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":520,"y":520,"wires":[["3be6b453.d9e28c"],["899a7f7.b7d7e8"]]},{"id":"9a986a94.ebec88","type":"function","z":"509c8ef5.a012c","name":"Bars","func":"msg.json.Geometry = 6;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":100,"wires":[[]]},{"id":"899a7f7.b7d7e8","type":"function","z":"509c8ef5.a012c","name":"Points","func":"msg.json.Geometry = 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":520,"wires":[["90c7e4a1.599ad8"]]},{"id":"3be6b453.d9e28c","type":"function","z":"509c8ef5.a012c","name":"Lines","func":"msg.json.Geometry = 2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":480,"wires":[["1add9418.81b41c"]]},{"id":"90c7e4a1.599ad8","type":"function","z":"509c8ef5.a012c","name":"set chartid","func":"msg.payload = flow.get(\"chartid\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":480,"wires":[["463e52b.ae83dac","5e06bf26.889e6"]]},{"id":"b3b8382d.376e88","type":"function","z":"509c8ef5.a012c","name":"Lines","func":"msg.json.Geometry = 2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":140,"wires":[[]]},{"id":"cfb32fd9.ca125","type":"function","z":"509c8ef5.a012c","name":"Points","func":"msg.json.Geometry = 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":180,"wires":[[]]},{"id":"6e4fb131.4d5b","type":"function","z":"509c8ef5.a012c","name":"store json","func":"flow.set(\"json\", msg.json);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":300,"wires":[["d2a2e37c.bf853"]]},{"id":"8e21053c.8dc918","type":"function","z":"509c8ef5.a012c","name":"restore json","func":"msg.json = flow.get(\"json\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":520,"wires":[["71e1069e.ccaf88","a9480b26.e47368"]]},{"id":"a9480b26.e47368","type":"debug","z":"509c8ef5.a012c","name":"DIATK 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":520,"y":560,"wires":[]},{"id":"5e06bf26.889e6","type":"debug","z":"509c8ef5.a012c","name":"DIATK 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1220,"y":520,"wires":[]},{"id":"d2a2e37c.bf853","type":"debug","z":"509c8ef5.a012c","name":"DIATK 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":940,"y":300,"wires":[]},{"id":"134e4e33.2adb32","type":"function","z":"509c8ef5.a012c","name":"SizeDimension","func":"msg.json.SizeDimension = \"score\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":220,"wires":[[]]},{"id":"35652f1f.bc689","type":"function","z":"509c8ef5.a012c","name":"PhysicalSize","func":"msg.json.VisualisationWidth = 0.4;\nmsg.json.VisualisationHeight = 0.4;\nmsg.json.VisualisationDepth = 0.4;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":100,"wires":[[]]},{"id":"5aac68f9.b38928","type":"function","z":"509c8ef5.a012c","name":"Axis","func":"msg.json.AxiesKeys = [0, 1];\nmsg.json.AxiesValues = [\"id\", \"score\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1250,"y":140,"wires":[[]]},{"id":"1add9418.81b41c","type":"function","z":"509c8ef5.a012c","name":"SizeDimension","func":"msg.json.SizeDimension = \"Undefined\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":480,"wires":[["90c7e4a1.599ad8"]]},{"id":"2c37f92.3b69306","type":"function","z":"509c8ef5.a012c","name":"LinesAnDots","func":"msg.json.Geometry = 4;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":180,"wires":[[]]},{"id":"73e9a24f.21590c","type":"mqtt-broker","name":"","broker":"ragrug-mqtt","port":"1883","clientid":"nodered","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]