nodered_flow_examples/flow_influx_client.json
[{"id":"78243588.5d744c","type":"tab","label":"Influx Client","disabled":false,"info":""},{"id":"a9910124.5f9c7","type":"mqtt in","z":"78243588.5d744c","name":"","topic":"test/influxSample","qos":"2","datatype":"auto","broker":"73e9a24f.21590c","x":140,"y":140,"wires":[["448898d5.c7c568"]]},{"id":"448898d5.c7c568","type":"function","z":"78243588.5d744c","name":"Parse Data","func":"let count = 0;\nlet min = 999999999999;\nlet max = -999999999999;\nlet times = [];\nlet data = [];\nlet payload = JSON.parse(msg.payload);\n\nfor(let i = 0; i < payload.length; i++) {\n    let entry = payload[i];\n    if(entry.mean > max) {\n        max = entry.mean;\n    }\n    if(entry.mean < min) {\n        min = entry.mean;\n    }\n    times.push(entry.time);\n    data.push(entry.mean);\n}\n\nmsg = {};\nmsg.times = times;\nmsg.minBright = min;\nmsg.maxBright = max;\nmsg.axisLength = 3;\nmsg.viewBuilder = {};\nmsg.viewBuilder.viewName = \"Influx Client\";\nmsg.viewBuilder.pointCount = payload.length;\n\nmsg.view = {};\nmsg.view.name = msg.viewBuilder.viewName;\nmsg.view.attributes = [];\nmsg.view.attributes[CNRIF.ViewAttribute.MaxX] = msg.axisLength;\nmsg.view.data = [];\nlet xData = [];\nlet yData = [];\nlet zData = [];\nlet colors = [];\nlet linking = [];\nfor(let i = 0; i < msg.viewBuilder.pointCount; i++) {\n    xData.push(1 / (msg.viewBuilder.pointCount - 1) * i * msg.axisLength);\n    yData.push((data[i] - min) / (max - min));\n    zData.push(0);\n    colors.push([1, 0, 0]);\n    linking.push(0);\n}\nmsg.view.data[CNRIF.ViewData.XPosition] = xData;\nmsg.view.data[CNRIF.ViewData.YPosition] = yData;\nmsg.view.data[CNRIF.ViewData.ZPosition] = zData;\nmsg.view.data[CNRIF.ViewData.Color] = colors;\nmsg.view.data[CNRIF.ViewData.Indices] = {isLinking: true, data: linking};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":140,"wires":[["898fbeef.8f8d7"]]},{"id":"3bc5dae0.8ae056","type":"redeploy","z":"78243588.5d744c","CNRUpdateBehavior":"2","flowId":"78243588.5d744c","x":280,"y":60,"wires":[["f48c057b.5cc508"]]},{"id":"72e153a5.8677cc","type":"inject","z":"78243588.5d744c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":130,"y":60,"wires":[["3bc5dae0.8ae056"]]},{"id":"f48c057b.5cc508","type":"mqtt out","z":"78243588.5d744c","name":"","topic":"cnr/redeployflow","qos":"0","retain":"false","broker":"73e9a24f.21590c","x":440,"y":60,"wires":[]},{"id":"aa2c73fc.036c8","type":"view-builder","z":"78243588.5d744c","viewName":"","pointCount":1,"meshTopology":"3","geometryType":"2","clientFunction":"RRJSIATK_ViewBuilder","x":630,"y":140,"wires":[["2a63c3a1.f8e22c"]]},{"id":"2a63c3a1.f8e22c","type":"set-view-data","z":"78243588.5d744c","viewData":-1,"clientFunction":"RRJSIATK_SetViewData","x":790,"y":140,"wires":[["538cacaa.8e2e74"]]},{"id":"898fbeef.8f8d7","type":"destroy-view","z":"78243588.5d744c","clientFunction":"RRJSIATK_DestroyView","x":470,"y":140,"wires":[["aa2c73fc.036c8"]]},{"id":"538cacaa.8e2e74","type":"set-view-attribute","z":"78243588.5d744c","attribute":-1,"attrValue":0,"attrOverride":false,"clientFunction":"RRJSIATK_SetViewAttribute","x":960,"y":140,"wires":[["9c5c2f7d.069b6"]]},{"id":"9c5c2f7d.069b6","type":"rtds-get","z":"78243588.5d744c","rtdsName":"Times","msgBehavior":"0","clientFunction":"RRJSIATK_RTDSGet","x":460,"y":180,"wires":[["3395528d.c4753e"]]},{"id":"3395528d.c4753e","type":"rtds-destroy","z":"78243588.5d744c","clientFunction":"RRJSIATK_RTDSDestroy","x":610,"y":180,"wires":[["e1a479d9.847aa8"]]},{"id":"e1a479d9.847aa8","type":"function","z":"78243588.5d744c","name":"Create RTDS","func":"CNRIF.RTDS.Create(\"Times\", msg.times.length);\nmsg.rtds.name = \"Times\";\nmsg.rtds.dimensions = [];\nCNRIF.RTDS.AddDimension(\"Times\", \"Brightness\", msg.minBright, msg.maxBright, CNRIF.DataType.Float);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":180,"wires":[["599125d3.c523cc"]]},{"id":"599125d3.c523cc","type":"rtds-add-dimension-discrete","z":"78243588.5d744c","dimensionName":"Time","clientFunction":"RRJSIATK_RTDSAddDimensionDiscrete","x":1000,"y":180,"wires":[["5c120106.84e53"]]},{"id":"5c120106.84e53","type":"function","z":"78243588.5d744c","name":"Fill RTDS","func":"for(let i = 0; i < msg.times.length; i++) {\n    CNRIF.RTDS.SetData(msg.rtds.name, \"Time\", msg.times[i], 1);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":180,"wires":[["8f832c6f.1ca7"]]},{"id":"8f832c6f.1ca7","type":"view-add-axes","z":"78243588.5d744c","axes":"x,y","clientFunction":"RRJSIATK_ViewAddAxes","x":480,"y":220,"wires":[["de56e965.d990e8"]]},{"id":"de56e965.d990e8","type":"view-set-axis-data","z":"78243588.5d744c","dataSource":"Times","dimension":"Time","axes":"x","clientFunction":"RRJSIATK_ViewSetAxisData","x":670,"y":220,"wires":[["29cc65af.1a7fca"]]},{"id":"47860c67.a48254","type":"view-set-axis-length","z":"78243588.5d744c","newLength":1,"axes":"x","location":"axisLength","clientFunction":"RRJSIATK_ViewSetAxisLength","x":1080,"y":220,"wires":[["63e770ee.af09f"]]},{"id":"63e770ee.af09f","type":"view-set-axis-tick-spacing","z":"78243588.5d744c","spacing":"0.005","axes":"x","location":"tickSpacing","clientFunction":"RRJSIATK_SetAxisTickSpacing","x":510,"y":260,"wires":[["99410129.2511f"]]},{"id":"99410129.2511f","type":"view-update-axis","z":"78243588.5d744c","axes":"x","clientFunction":"RRJSIATK_ViewUpdateAxis","x":730,"y":260,"wires":[[]]},{"id":"29cc65af.1a7fca","type":"view-set-axis-data","z":"78243588.5d744c","dataSource":"Times","dimension":"Brightness","axes":"y","clientFunction":"RRJSIATK_ViewSetAxisData","x":870,"y":220,"wires":[["47860c67.a48254"]]},{"id":"73e9a24f.21590c","type":"mqtt-broker","name":"","broker":"ragrug-mqtt","port":"1883","clientid":"nodered","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]