nodered_flow_examples/flow_influx_server.json
[{"id":"fad8ac44.aa22f","type":"tab","label":"Influx Server","disabled":false,"info":""},{"id":"b54faa1e.43c9c8","type":"influxdb in","z":"fad8ac44.aa22f","influxdb":"370a75d7.b3a34a","name":"","query":"SELECT mean(\"brightness\") FROM \"telemetry/inffeld16/1st/hallway/light0\" WHERE time > '2022-03-18T08:00:00Z' AND time < '2022-03-24T08:00:00Z' GROUP BY time(2h) fill(0)","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":340,"y":80,"wires":[["e55fd916.bc3be8"]]},{"id":"79f2463f.b3ce48","type":"inject","z":"fad8ac44.aa22f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":80,"wires":[["b54faa1e.43c9c8"]]},{"id":"e55fd916.bc3be8","type":"mqtt out","z":"fad8ac44.aa22f","name":"","topic":"test/influxSample","qos":"","retain":"","broker":"73e9a24f.21590c","x":590,"y":80,"wires":[]},{"id":"370a75d7.b3a34a","type":"influxdb","hostname":"ragrug-influxdb","port":"8086","protocol":"http","database":"inffeld","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"","rejectUnauthorized":false},{"id":"73e9a24f.21590c","type":"mqtt-broker","name":"","broker":"ragrug-mqtt","port":"1883","clientid":"nodered","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]