nodered_flow_examples/flow_rtds_view.json
[{"id":"5041f7e5.1f75c8","type":"tab","label":"RTDS View","disabled":true,"info":""},{"id":"3e957e66.ced752","type":"inject","z":"5041f7e5.1f75c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":140,"wires":[["7491610d.9d4fa"]]},{"id":"7491610d.9d4fa","type":"function","z":"5041f7e5.1f75c8","name":"Setup View","func":"msg.viewBuilder = {};\nmsg.viewBuilder.viewName = \"RTDS Bandwidth\";\nmsg.viewBuilder.pointCount = 50;\n\nmsg.view = {};\nmsg.view.name = \"RTDS Bandwidth\";\nmsg.view.attributes = [];\nmsg.view.attributes[CNRIF.ViewAttribute.MinSize] = 0.01;\nmsg.view.data = [];\nvar x = [];\nvar y = [];\nvar z = [];\nvar color = [];\nvar indices = [];\n\nfor(var i = 0; i < msg.viewBuilder.pointCount; i++)\n{\n    x.push(i/msg.viewBuilder.pointCount);\n    y.push(0);\n    z.push(0);\n    color.push([1, 1, 1]);\n    indices.push(0);\n}\n\nmsg.view.data[CNRIF.ViewData.XPosition] = x;\nmsg.view.data[CNRIF.ViewData.YPosition] = y;\nmsg.view.data[CNRIF.ViewData.ZPosition] = z;\nmsg.view.data[CNRIF.ViewData.Color] = color;\nmsg.view.data[CNRIF.ViewData.Indices] = {isLinking: true, data: indices};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":140,"wires":[["56f04c7f.bcb8e4"]]},{"id":"91418db6.fa2df","type":"view-builder","z":"5041f7e5.1f75c8","viewName":"","pointCount":"100","meshTopology":"3","geometryType":"2","clientFunction":"RRJSIATK_ViewBuilder","x":790,"y":140,"wires":[["57a8b565.98ad6c"]]},{"id":"57a8b565.98ad6c","type":"set-view-data","z":"5041f7e5.1f75c8","viewData":"-1","clientFunction":"RRJSIATK_SetViewData","x":970,"y":140,"wires":[["464c3d02.048124"]]},{"id":"464c3d02.048124","type":"set-view-attribute","z":"5041f7e5.1f75c8","attribute":"-1","attrValue":0,"attrOverride":"false","clientFunction":"RRJSIATK_SetViewAttribute","x":1160,"y":140,"wires":[["dd37ba00.30f2e8"]]},{"id":"5b00ba0a.f0dcb4","type":"inject","z":"5041f7e5.1f75c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"4","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":250,"y":280,"wires":[["c5bf852a.271f28"]]},{"id":"ce5eeaa8.169938","type":"function","z":"5041f7e5.1f75c8","name":"Apply Data","func":"if(msg.hasOwnProperty(\"view\"))\n{\n    msg.view.data = [];\n    msg.view.data[CNRIF.ViewData.YPosition] = msg.rtdsData;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":280,"wires":[["ee395c0a.c23ed"]]},{"id":"c5bf852a.271f28","type":"get-view","z":"5041f7e5.1f75c8","viewName":"RTDS Bandwidth","onFail":"false","clientFunction":"RRJSIATK_GetView","x":420,"y":280,"wires":[["ae80ef0f.051fa"]]},{"id":"ee395c0a.c23ed","type":"set-view-data","z":"5041f7e5.1f75c8","viewData":"5","clientFunction":"RRJSIATK_SetViewData","x":1120,"y":280,"wires":[[]]},{"id":"ae80ef0f.051fa","type":"rtds-get","z":"5041f7e5.1f75c8","rtdsName":"Test","onFail":"false","clientFunction":"RRJSIATK_RTDSGet","x":580,"y":280,"wires":[["becfa474.28e558"]]},{"id":"becfa474.28e558","type":"rtds-get-data","z":"5041f7e5.1f75c8","dimensionName":"Bandwidth","location":"rtdsData","clientFunction":"RRJSIATK_RTDSGetData","x":750,"y":280,"wires":[["ce5eeaa8.169938"]]},{"id":"56f04c7f.bcb8e4","type":"destroy-view","z":"5041f7e5.1f75c8","clientFunction":"RRJSIATK_DestroyView","x":610,"y":140,"wires":[["91418db6.fa2df"]]},{"id":"dd37ba00.30f2e8","type":"view-add-axes","z":"5041f7e5.1f75c8","clientFunction":"RRJSIATK_ViewAddAxes","x":440,"y":200,"wires":[["fd54bc20.01016"]]},{"id":"fd54bc20.01016","type":"view-set-axis-data","z":"5041f7e5.1f75c8","dataSource":"Test","dimension":"Bandwidth","direction":"2","clientFunction":"RRJSIATK_ViewSetAxisData","x":650,"y":200,"wires":[["5f820328.ef74bc"]]},{"id":"5f820328.ef74bc","type":"view-hide-show-axis","z":"5041f7e5.1f75c8","shown":"false","direction":1,"clientFunction":"RRJSIATK_ViewShowAxis","x":880,"y":200,"wires":[["f978a6c1.784778"]]},{"id":"f978a6c1.784778","type":"view-hide-show-axis","z":"5041f7e5.1f75c8","shown":"false","direction":"3","clientFunction":"RRJSIATK_ViewShowAxis","x":1120,"y":200,"wires":[[]]}]