nodered_flow_examples/heatmap_3d.json
[{"id":"dd464cac.d278e","type":"tab","label":"Ex. Heatmap 3D","disabled":false,"info":""},{"id":"cd9f8983.a654f8","type":"function","z":"dd464cac.d278e","name":"view setup","func":"flow.side = 10;\nflow.xPos = (flow.side - 1) / 2;\nflow.yPos = (flow.side - 1) / 2;\nflow.zPos = (flow.side - 1) / 2;\n\nmsg.viewBuilder = {};\nmsg.viewBuilder.viewName = \"Heatmap\";\nmsg.viewBuilder.pointCount = flow.side * flow.side * flow.side;\n\nmsg.view = {};\nmsg.view.name = msg.viewBuilder.viewName;\nmsg.view.attributes = [];\nmsg.view.attributes[CNRIF.ViewAttribute.Size] = 0;\nmsg.view.attributes[CNRIF.ViewAttribute.MinSize] = 0.1;\nmsg.view.attributes[CNRIF.ViewAttribute.MaxSize] = 2;\nmsg.view.data = [];\nlet xData = [];\nlet yData = [];\nlet zData = [];\nlet colors = [];\nlet sizes = [];\nfor(let x = 0; x < flow.side; x++) {\n    for(let y = 0; y < flow.side; y++) {\n        for(let z = 0; z < flow.side; z++) {\n            xData.push(x / (flow.side - 1));\n            yData.push(y / (flow.side - 1));\n            zData.push(z / (flow.side - 1));\n            colors.push([1, 1, 1])\n            sizes.push(0);\n        }\n    }\n}\nmsg.view.data[CNRIF.ViewData.XPosition] = xData;\nmsg.view.data[CNRIF.ViewData.YPosition] = yData;\nmsg.view.data[CNRIF.ViewData.ZPosition] = zData;\nmsg.view.data[CNRIF.ViewData.Color] = colors;\nmsg.view.data[CNRIF.ViewData.Size] = sizes;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":120,"wires":[["231943ea.9cc66c"]]},{"id":"231943ea.9cc66c","type":"view-builder","z":"dd464cac.d278e","viewName":"","pointCount":"4","meshTopology":5,"geometryType":"7","clientFunction":"RRJSIATK_ViewBuilder","x":470,"y":120,"wires":[["4b47b86e.f2c038"]]},{"id":"a760c894.258a98","type":"set-view-data","z":"dd464cac.d278e","viewData":-1,"clientFunction":"RRJSIATK_SetViewData","x":810,"y":120,"wires":[["41c26625.236368"]]},{"id":"67e091c7.cad0c","type":"comment","z":"dd464cac.d278e","name":"Setup View","info":"This function node constructs the message that the view builder node accepts. The dots form a uniform grid.\nAdditionally, the side length and the current position are saved to the flow to be accessed later.","x":310,"y":80,"wires":[]},{"id":"7453c56a.33a4fc","type":"inject","z":"dd464cac.d278e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["cd9f8983.a654f8"]]},{"id":"d3bf1b80.44ceb8","type":"comment","z":"dd464cac.d278e","name":"Build View","info":"This node creates the view GameObject in the scene. After its creation it can be retrieved with a get view node.","x":460,"y":80,"wires":[]},{"id":"afe79e10.663ed","type":"comment","z":"dd464cac.d278e","name":"Apply Data","info":"This node applies the XYZ positions and colors from the view setup function to the view.","x":800,"y":80,"wires":[]},{"id":"4b47b86e.f2c038","type":"set-view-attribute","z":"dd464cac.d278e","attribute":-1,"attrValue":0,"attrOverride":false,"clientFunction":"RRJSIATK_SetViewAttribute","x":640,"y":120,"wires":[["a760c894.258a98"]]},{"id":"871a3cc7.edb7b","type":"comment","z":"dd464cac.d278e","name":"Apply Attributes","info":"Applies the min/max size attributes set in the setup function.","x":640,"y":80,"wires":[]},{"id":"fff62464.df1ba8","type":"ui_button","z":"dd464cac.d278e","name":"","group":"6531107d.0ad47","order":11,"width":0,"height":0,"passthru":false,"label":"Left","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":330,"y":220,"wires":[["b7005b78.183ff8"]]},{"id":"b9fd81f7.aa62a","type":"mrtk-button-group","z":"dd464cac.d278e","name":"Movement","layout":"3x2","x":150,"y":220,"wires":[["fff62464.df1ba8","79e42080.65696","27e475d0.d3842a","2b0388ea.dce118","66622a16.b5a5f4","e8db30c9.14e7"]]},{"id":"79e42080.65696","type":"ui_button","z":"dd464cac.d278e","name":"","group":"6531107d.0ad47","order":11,"width":0,"height":0,"passthru":false,"label":"Right","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":330,"y":260,"wires":[["f725a8d6.554518"]]},{"id":"27e475d0.d3842a","type":"ui_button","z":"dd464cac.d278e","name":"","group":"6531107d.0ad47","order":11,"width":0,"height":0,"passthru":false,"label":"Up","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":330,"y":340,"wires":[["2bd28d4a.7e9252"]]},{"id":"2b0388ea.dce118","type":"ui_button","z":"dd464cac.d278e","name":"","group":"6531107d.0ad47","order":11,"width":0,"height":0,"passthru":false,"label":"Down","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":330,"y":300,"wires":[["78225070.96e5a"]]},{"id":"b7005b78.183ff8","type":"function","z":"dd464cac.d278e","name":"","func":"flow.xPos = Math.max(flow.xPos - 0.5, 0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":220,"wires":[["41c26625.236368"]]},{"id":"f725a8d6.554518","type":"function","z":"dd464cac.d278e","name":"","func":"flow.xPos = Math.min(flow.xPos + 0.5, flow.side);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":260,"wires":[["41c26625.236368"]]},{"id":"78225070.96e5a","type":"function","z":"dd464cac.d278e","name":"","func":"flow.yPos = Math.max(flow.yPos - 0.5, 0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":300,"wires":[["41c26625.236368"]]},{"id":"2bd28d4a.7e9252","type":"function","z":"dd464cac.d278e","name":"","func":"flow.yPos = Math.min(flow.yPos + 0.5, flow.side);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":340,"wires":[["41c26625.236368"]]},{"id":"41c26625.236368","type":"get-view","z":"dd464cac.d278e","viewName":"Heatmap","msgBehavior":"1","clientFunction":"RRJSIATK_GetView","x":640,"y":220,"wires":[["c61aef58.4e476"]]},{"id":"c61aef58.4e476","type":"function","z":"dd464cac.d278e","name":"update heatmap","func":"msg.view.data = [];\nlet colors = [];\nlet sizes = [];\nfor(let x = 0; x < flow.side; x++) {\n    for(let y = 0; y < flow.side; y++) {\n        for(let z = 0; z < flow.side; z++) {\n            let xDist = x - flow.xPos;\n            let yDist = y - flow.yPos;\n            let zDist = z - flow.zPos;\n            let distance = Math.sqrt(xDist * xDist + yDist * yDist + zDist * zDist)  / (flow.side - 1);\n            let proximity = Math.max(0, 0.5 - distance) * 2;\n            colors.push([1, 1 - proximity, 1 - proximity])\n            sizes.push(proximity);\n        }\n    }\n}\n\nmsg.view.data[CNRIF.ViewData.Color] = colors;\nmsg.view.data[CNRIF.ViewData.Size] = sizes;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":220,"wires":[["f1805cec.bfac3"]]},{"id":"f1805cec.bfac3","type":"set-view-data","z":"dd464cac.d278e","viewData":-1,"clientFunction":"RRJSIATK_SetViewData","x":990,"y":220,"wires":[[]]},{"id":"d9c5d5dc.e53558","type":"comment","z":"dd464cac.d278e","name":"Navigation Buttons","info":"Pressing the buttons moves the current position.","x":290,"y":180,"wires":[]},{"id":"9bd64567.8bda38","type":"comment","z":"dd464cac.d278e","name":"Retrieve View","info":"Only proceeds if the view actually exists.","x":650,"y":180,"wires":[]},{"id":"a5e5f9d0.46aab8","type":"comment","z":"dd464cac.d278e","name":"Update","info":"Compare each dot's position to the current position and set the sizes and colors accordingly.","x":790,"y":180,"wires":[]},{"id":"6ee96aa2.46a904","type":"comment","z":"dd464cac.d278e","name":"Apply Data","info":"Applies the colors and sizes to the view.","x":980,"y":180,"wires":[]},{"id":"e8db30c9.14e7","type":"ui_button","z":"dd464cac.d278e","name":"","group":"6531107d.0ad47","order":11,"width":0,"height":0,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":330,"y":420,"wires":[["ce723969.317878"]]},{"id":"66622a16.b5a5f4","type":"ui_button","z":"dd464cac.d278e","name":"","group":"6531107d.0ad47","order":11,"width":0,"height":0,"passthru":false,"label":"Front","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":330,"y":380,"wires":[["1c6fdb26.909d95"]]},{"id":"1c6fdb26.909d95","type":"function","z":"dd464cac.d278e","name":"","func":"flow.zPos = Math.max(flow.zPos - 0.5, 0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":380,"wires":[["41c26625.236368"]]},{"id":"ce723969.317878","type":"function","z":"dd464cac.d278e","name":"","func":"flow.zPos = Math.min(flow.zPos + 0.5, flow.side);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":420,"wires":[["41c26625.236368"]]},{"id":"6531107d.0ad47","type":"ui_group","name":"UI","tab":"d5f0b18b.3b217","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d5f0b18b.3b217","type":"ui_tab","name":"UI","icon":"dashboard","disabled":false,"hidden":true}]