nodered_flow_examples/heating_data_sim_hub.json
[{"id":"eb66deb5.bea27","type":"tab","label":"Heating","disabled":false,"info":""},{"id":"c792ee41.16bdf","type":"inject","z":"eb66deb5.bea27","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":80,"wires":[["4c27dc79.2244c4"]]},{"id":"4c27dc79.2244c4","type":"function","z":"eb66deb5.bea27","name":"Sensor1","func":"var sensor = {};\nsensor.temperature = Math.random() * 250;\nsensor.humidity = Math.random() * 100;\nsensor.preasure = Math.random() * 4000;\nsensor.type = \"heatsensor\",\nsensor.name = \"sensor1\",\nsensor.ts = msg.payload;\nmsg.payload=[\n    sensor, \n    {\n    \"tag1\":\"sensor1\",\n    \"tag2\":\"location1\",\n    \"tag3\":\"building1\"\n}];\nmsg.topic = \"heating\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":80,"wires":[["c5b8fb2d.10e868","13890fc6.c1daa","6a67bc07.270024"]]},{"id":"573ec676.171d68","type":"ui_gauge","z":"eb66deb5.bea27","d":true,"name":"","group":"3bff8420.f2174c","order":1,"width":0,"height":0,"gtype":"gage","title":"{{msg.payload[1].tag1}}","label":"C","format":"{{msg.payload[0].temperature}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":120,"wires":[]},{"id":"c5b8fb2d.10e868","type":"function","z":"eb66deb5.bea27","name":"","func":"var temp = msg.payload[0].temperature;\ntemp = temp.toFixed(2);\nmsg.payload[0].temperature = temp;\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":80,"wires":[["573ec676.171d68","467b690b.8ced78"]]},{"id":"467b690b.8ced78","type":"debug","z":"eb66deb5.bea27","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":80,"wires":[]},{"id":"a753ec8e.3611b","type":"inject","z":"eb66deb5.bea27","name":"","repeat":"45","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":180,"wires":[["ce7cd7db.42d1f8"]]},{"id":"ce7cd7db.42d1f8","type":"function","z":"eb66deb5.bea27","name":"Sensor2","func":"var sensor = {};\nsensor.temperature = Math.random()*Math.random() * 250;\nsensor.humidity = Math.random() * 100;\nsensor.preasure = Math.random() * 4000;\nsensor.type = \"heatsensor\",\nsensor.name = \"sensor2\",\nsensor.ts = msg.payload;\nmsg.payload=[\n    sensor, \n    {\n    \"tag1\":\"sensor2\",\n    \"tag2\":\"location2\",\n    \"tag3\":\"building1\"\n}];\nmsg.topic = \"heating\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["6a67bc07.270024","2aaf3ec.2c0d4c2","13890fc6.c1daa"]]},{"id":"6a67bc07.270024","type":"influxdb out","z":"eb66deb5.bea27","d":true,"influxdb":"370a75d7.b3a34a","name":"","measurement":"heating","precision":"","retentionPolicy":"","x":1120,"y":580,"wires":[]},{"id":"9d5a6872.e54908","type":"ui_gauge","z":"eb66deb5.bea27","d":true,"name":"","group":"3bff8420.f2174c","order":2,"width":0,"height":0,"gtype":"gage","title":"{{msg.payload[1].tag1}}","label":"C","format":"{{msg.payload[0].temperature}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":180,"wires":[]},{"id":"2aaf3ec.2c0d4c2","type":"function","z":"eb66deb5.bea27","name":"","func":"var temp = msg.payload[0].temperature;\ntemp = temp.toFixed(2);\nmsg.payload[0].temperature = temp;\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":180,"wires":[["9d5a6872.e54908","733b5fda.23dc1"]]},{"id":"733b5fda.23dc1","type":"debug","z":"eb66deb5.bea27","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":220,"wires":[]},{"id":"13890fc6.c1daa","type":"mqtt out","z":"eb66deb5.bea27","d":true,"name":"","topic":"","qos":"","retain":"","broker":"73e9a24f.21590c","x":950,"y":680,"wires":[]},{"id":"539db634.022ae8","type":"inject","z":"eb66deb5.bea27","name":"","repeat":"7","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":280,"wires":[["44f734f1.d45c2c"]]},{"id":"44f734f1.d45c2c","type":"function","z":"eb66deb5.bea27","name":"Sensor3","func":"var sensor = {};\nsensor.temperature = Math.random()*Math.random() * 250;\nsensor.humidity = Math.random() * 100;\nsensor.preasure = Math.random() * 4000;\nsensor.type = \"heatsensor\",\nsensor.name = \"sensor3\",\nsensor.ts = msg.payload;\nmsg.payload=[\n    sensor, \n    {\n    \"tag1\":\"sensor3\",\n    \"tag2\":\"location2\",\n    \"tag3\":\"building1\"\n}];\nmsg.topic = \"heating\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":280,"wires":[["4a42008a.690be","13890fc6.c1daa","6a67bc07.270024"]]},{"id":"d1e09a95.07cf68","type":"ui_gauge","z":"eb66deb5.bea27","d":true,"name":"","group":"3bff8420.f2174c","order":3,"width":0,"height":0,"gtype":"gage","title":"{{msg.payload[1].tag1}}","label":"C","format":"{{msg.payload[0].temperature}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":280,"wires":[]},{"id":"4a42008a.690be","type":"function","z":"eb66deb5.bea27","name":"","func":"var temp = msg.payload[0].temperature;\ntemp = temp.toFixed(2);\nmsg.payload[0].temperature = temp;\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":280,"wires":[["d1e09a95.07cf68","d63c1e9b.67566"]]},{"id":"d63c1e9b.67566","type":"debug","z":"eb66deb5.bea27","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":320,"wires":[]},{"id":"57307e50.93834","type":"inject","z":"eb66deb5.bea27","name":"","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":380,"wires":[["c1add14e.5bb75"]]},{"id":"c1add14e.5bb75","type":"function","z":"eb66deb5.bea27","name":"Sensor4","func":"var sensor = {};\nsensor.temperature = Math.random()*Math.random() * 150;\nsensor.humidity = Math.random() * 100;\nsensor.preasure = Math.random() * 4000;\nsensor.type = \"heatsensor\",\nsensor.name = \"sensor4\",\nsensor.ts = msg.payload;\nmsg.payload=[\n    sensor, \n    {\n    \"tag1\":\"sensor4\",\n    \"tag2\":\"location3\",\n    \"tag3\":\"building1\"\n}];\nmsg.topic = \"heating\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":380,"wires":[["1e0aef16.17ef31","13890fc6.c1daa","6a67bc07.270024"]]},{"id":"7e0b72aa.fd2dfc","type":"ui_gauge","z":"eb66deb5.bea27","d":true,"name":"","group":"3bff8420.f2174c","order":4,"width":0,"height":0,"gtype":"gage","title":"{{msg.payload[1].tag1}}","label":"C","format":"{{msg.payload[0].temperature}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":380,"wires":[]},{"id":"1e0aef16.17ef31","type":"function","z":"eb66deb5.bea27","name":"","func":"var temp = msg.payload[0].temperature;\ntemp = temp.toFixed(2);\nmsg.payload[0].temperature = temp;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":380,"wires":[["7e0b72aa.fd2dfc","98b27ff1.cef21"]]},{"id":"98b27ff1.cef21","type":"debug","z":"eb66deb5.bea27","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":420,"wires":[]},{"id":"a1bf6a0e.f0a9b8","type":"inject","z":"eb66deb5.bea27","name":"","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":540,"wires":[["8c6db72b.5ae1a8"]]},{"id":"8c6db72b.5ae1a8","type":"function","z":"eb66deb5.bea27","name":"s000","func":"var sensor = {};\nsensor.temperature = Math.random() * 250;\nsensor.humidity = Math.random() * 100;\nsensor.preasure = Math.random() * 4000;\nsensor.type = \"heatsensor\";\nsensor.ts = msg.payload;\n\nvar t = [];\nt[0] = sensor.building = \"inffeld16\";\nt[1] = sensor.floor = \"2nd\";\nt[2] = sensor.room = \"id02068\";\nt[3] = sensor.device = \"d1\";\nt[4] = sensor.name = \"s000\";\n\nvar topic = \"\";\nfor(var i = 0; i < t.length-1;i++) {\n    topic += t[i] + \"/\";\n}\ntopic += t[t.length-1];\n\nmsg.topic = topic;\nmsg.payload=[\n    sensor, \n    {\n    \"tag1\":t[0],\n    \"tag2\":t[1],\n    \"tag3\":t[2],\n    \"tag4\":t[3],\n    \"tag5\":t[4]\n}];\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":540,"wires":[["13890fc6.c1daa","6a67bc07.270024"]]},{"id":"fb3395ad.c788e8","type":"inject","z":"eb66deb5.bea27","name":"","repeat":"45","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":580,"wires":[["a37d1cbc.b062f"]]},{"id":"833c95f2.da3a98","type":"inject","z":"eb66deb5.bea27","name":"","repeat":"7","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":620,"wires":[["ee33e4a9.236868"]]},{"id":"d30d5931.1dd598","type":"inject","z":"eb66deb5.bea27","name":"","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":660,"wires":[["a5542dac.cf085"]]},{"id":"a37d1cbc.b062f","type":"function","z":"eb66deb5.bea27","name":"s001","func":"var sensor = {};\nsensor.temperature = Math.random() * 250;\nsensor.humidity = Math.random() * 100;\nsensor.preasure = Math.random() * 4000;\nsensor.type = \"heatsensor\";\nsensor.ts = msg.payload;\n\nvar t = [];\nt[0] = sensor.building = \"inffeld16\";\nt[1] = sensor.floor = \"2nd\";\nt[2] = sensor.room = \"id02068\";\nt[3] = sensor.device = \"d1\";\nt[4] = sensor.name = \"s001\";\n\nvar topic = \"\";\nfor(var i = 0; i < t.length-1;i++) {\n    topic += t[i] + \"/\";\n}\ntopic += t[t.length-1];\n\nmsg.topic = topic;\nmsg.payload=[\n    sensor, \n    {\n    \"tag1\":t[0],\n    \"tag2\":t[1],\n    \"tag3\":t[2],\n    \"tag4\":t[3],\n    \"tag5\":t[4]\n}];\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":580,"wires":[["13890fc6.c1daa","6a67bc07.270024"]]},{"id":"ee33e4a9.236868","type":"function","z":"eb66deb5.bea27","name":"s002","func":"var sensor = {};\nsensor.temperature = Math.random() * 250;\nsensor.humidity = Math.random() * 100;\nsensor.preasure = Math.random() * 4000;\nsensor.type = \"heatsensor\";\nsensor.ts = msg.payload;\n\nvar t = [];\nt[0] = sensor.building = \"inffeld16\";\nt[1] = sensor.floor = \"2nd\";\nt[2] = sensor.room = \"id02068\";\nt[3] = sensor.device = \"d2\";\nt[4] = sensor.name = \"s002\";\n\nvar topic = \"\";\nfor(var i = 0; i < t.length-1;i++) {\n    topic += t[i] + \"/\";\n}\ntopic += t[t.length-1];\n\nmsg.topic = topic;\nmsg.payload=[\n    sensor, \n    {\n    \"tag1\":t[0],\n    \"tag2\":t[1],\n    \"tag3\":t[2],\n    \"tag4\":t[3],\n    \"tag5\":t[4]\n}];\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":620,"wires":[["13890fc6.c1daa","6a67bc07.270024"]]},{"id":"a5542dac.cf085","type":"function","z":"eb66deb5.bea27","name":"s003","func":"var sensor = {};\nsensor.temperature = Math.random() * 250;\nsensor.humidity = Math.random() * 100;\nsensor.preasure = Math.random() * 4000;\nsensor.type = \"heatsensor\";\nsensor.ts = msg.payload;\n\nvar t = [];\nt[0] = sensor.building = \"inffeld16\";\nt[1] = sensor.floor = \"2nd\";\nt[2] = sensor.room = \"id02068\";\nt[3] = sensor.device = \"d2\";\nt[4] = sensor.name = \"s003\";\n\nvar topic = \"\";\nfor(var i = 0; i < t.length-1;i++) {\n    topic += t[i] + \"/\";\n}\ntopic += t[t.length-1];\n\nmsg.topic = topic;\nmsg.payload=[\n    sensor, \n    {\n    \"tag1\":t[0],\n    \"tag2\":t[1],\n    \"tag3\":t[2],\n    \"tag4\":t[3],\n    \"tag5\":t[4]\n}];\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":660,"wires":[["13890fc6.c1daa","6a67bc07.270024"]]},{"id":"e3136552.85d748","type":"mqtt in","z":"eb66deb5.bea27","name":"","topic":"telemetry/#","qos":"0","datatype":"auto","broker":"73e9a24f.21590c","x":100,"y":1080,"wires":[["a008542d.781db8"]]},{"id":"b9cb3198.02e66","type":"debug","z":"eb66deb5.bea27","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":1120,"wires":[]},{"id":"f320d1c1.368ac","type":"inject","z":"eb66deb5.bea27","name":"","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":820,"wires":[["e13e075.16412f8"]]},{"id":"e13e075.16412f8","type":"function","z":"eb66deb5.bea27","name":"r0/inflow","func":"var sensor = {};\nvar max = 0;\nvar min = 0;\n\nmax = 60;\nmin = 25;\nvar mtemp = Math.random() * (max - min) + min;\n\nmax = 2;\nmin = 0.1;\nvar mflow = Math.random() * (max - min) + min;\n\nsensor.temperature = mtemp;\nsensor.flowrate = mflow;\nsensor.type = \"radiator\";\nsensor.ts = msg.payload;\n\n//home/2nd/office/r0/inflow\nvar t = [];\nt[0] = sensor.building = \"home\";\nt[1] = sensor.floor = \"2nd\";\nt[2] = sensor.room = \"office\";\nt[3] = sensor.device = \"r0\";\nt[4] = sensor.name = \"inflow\";\n\nvar topic = \"\";\nfor(var i = 0; i < t.length-1;i++) {\n    topic += t[i] + \"/\";\n}\ntopic += t[t.length-1];\n\nmsg.topic = topic;\nmsg.payload=[\n    sensor, \n    {\n    \"tag1\":t[0],\n    \"tag2\":t[1],\n    \"tag3\":t[2],\n    \"tag4\":t[3],\n    \"tag5\":t[4]\n}];\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":820,"wires":[["ce4eb73e.2ce108"]]},{"id":"123ec8b5.df36b7","type":"comment","z":"eb66deb5.bea27","name":"office/radiator [r0]","info":"","x":120,"y":760,"wires":[]},{"id":"ce4eb73e.2ce108","type":"function","z":"eb66deb5.bea27","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":800,"wires":[["13890fc6.c1daa","6a67bc07.270024"]]},{"id":"5c8751f6.7fa7","type":"inject","z":"eb66deb5.bea27","name":"","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":860,"wires":[["52b19725.3f1c18"]]},{"id":"52b19725.3f1c18","type":"function","z":"eb66deb5.bea27","name":"r0/backflow","func":"var sensor = {};\nvar max = 0;\nvar min = 0;\n\nmax = 30;\nmin = 10;\nvar mtemp = Math.random() * (max - min) + min;\n\nmax = 2;\nmin = 0.1;\nvar mflow = Math.random() * (max - min) + min;\n\nsensor.temperature = mtemp;\nsensor.flowrate = mflow;\nsensor.type = \"radiator\";\nsensor.ts = msg.payload;\n\nvar t = [];\nt[0] = sensor.building = \"home\";\nt[1] = sensor.floor = \"2nd\";\nt[2] = sensor.room = \"office\";\nt[3] = sensor.device = \"r0\";\nt[4] = sensor.name = \"backflow\";\n\nvar topic = \"\";\nfor(var i = 0; i < t.length-1;i++) {\n    topic += t[i] + \"/\";\n}\ntopic += t[t.length-1];\n\nmsg.topic = topic;\nmsg.payload=[\n    sensor, \n    {\n    \"tag1\":t[0],\n    \"tag2\":t[1],\n    \"tag3\":t[2],\n    \"tag4\":t[3],\n    \"tag5\":t[4]\n}];\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":860,"wires":[["ce4eb73e.2ce108"]]},{"id":"25c5f17.124740e","type":"function","z":"eb66deb5.bea27","name":"empty collector","func":"\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":1400,"wires":[["48399cfc.3dd054"]]},{"id":"fdfc8a72.c0d3c8","type":"comment","z":"eb66deb5.bea27","name":"DynamicPart - Simulated sensors","info":"","x":150,"y":1160,"wires":[]},{"id":"59417ddd.ded8b4","type":"inject","z":"eb66deb5.bea27","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"4","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1220,"wires":[["6d18de9.b458b2"]]},{"id":"6d18de9.b458b2","type":"function","z":"eb66deb5.bea27","name":"telemetry/inffeld16/2nd/hallway/refrigirator/compressor/temperature","func":"var sensor = {};\nvar max = 0;\nvar min = 0;\n\nmax = 70;\nmin = 69;\nvar v1 = Math.random() * (max - min) + min;\n\nsensor.temperature = v1;\n\n\nvar topic = \"telemetry/inffeld16/2nd/hallway/refrigirator/compressor/temperature\";\nmsg.topic = topic;\nmsg.payload = sensor;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":1220,"wires":[["25c5f17.124740e"]]},{"id":"ac79f6e6.ccc1f8","type":"inject","z":"eb66deb5.bea27","name":"","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1300,"wires":[["c415c632.c395e8"]]},{"id":"c415c632.c395e8","type":"function","z":"eb66deb5.bea27","name":"telemetry/inffeld16/2nd/hallway/refrigirator/chamber","func":"var sensor = {};\nvar max = 0;\nvar min = 0;\n\nmax = 30;\nmin = 29;\nvar v1 = Math.random() * (max - min) + min;\n\nsensor.temperature = v1;\n\nvar topic = \"telemetry/inffeld16/2nd/hallway/refrigirator/chamber\";\nmsg.topic = topic;\nmsg.payload=sensor;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1300,"wires":[["25c5f17.124740e"]]},{"id":"e55fe67.a050618","type":"comment","z":"eb66deb5.bea27","name":"DB-Passthrough","info":"","x":120,"y":1040,"wires":[]},{"id":"6d4dac80.5614e4","type":"mqtt out","z":"eb66deb5.bea27","name":"","topic":"","qos":"0","retain":"false","broker":"73e9a24f.21590c","x":1170,"y":1660,"wires":[]},{"id":"a008542d.781db8","type":"function","z":"eb66deb5.bea27","name":"Data preparation","func":"try {\nvar flatten = global.get(\"flatten\");\n\nvar topic = msg.topic;\nvar retain = msg.retain;\nvar data = JSON.parse(msg.payload);\n\n//var flatData = flatten(data);\nvar data = flatten(data);\n\ntags = topic.split('/');\nvar roomName = tags[0]+\"/\"+tags[1]+\"/\"+tags[2] + \"/\" + tags[3];\nvar measName =  roomName + \"/\" + tags[4];\nvar partName = measName + \"/\" + tags[5]\n\n//var valueName = partName + \"/\" + \"main\";\nvar valueName = partName;\nif(tags.length >= 7) {\n valueName = partName + \"/\" + tags[6]\n}\n\ntags.push(roomName);\ntags.push(measName);\ntags.push(partName);\ntags.push(valueName);\n\nif(\n    tags[6] == \"INFO1\" ||\n    tags[6] == \"INFO2\" ||\n    tags[6] == \"INFO3\" ||\n    tags[6] == \"STATE\") {\n        return null;\n    }\n\nmsg.payload = [data, tags];\nmsg.measurement = measName;\nreturn msg;\n\n} catch(err) {\n    return null;\n}\n\n/*\nif(tags[0] == \"telemetry\") {\n    tags.shift();    \n    \n    var o =0;\n    var roomName = tags[o+0]+\"/\"+tags[o+1]+\"/\"+tags[o+2];\n    var measName =  roomName + \"/\" + tags[o+3];\n    var partName = measName + \"/\" + tags[o+4]\n    tags.push(roomName);\n    tags.push(measName);\n    tags.push(partName);\n    \n    msg.payload = [data, tags];\n    msg.measurement = measName;\n    return msg;\n}\n\nreturn null;\n*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":1080,"wires":[["b9cb3198.02e66","3e0613e4.b8843c"]]},{"id":"3e0613e4.b8843c","type":"influxdb out","z":"eb66deb5.bea27","influxdb":"370a75d7.b3a34a","name":"","measurement":"","precision":"","retentionPolicy":"","database":"inffeld","retentionPolicyV18Flux":"","org":"","bucket":"","x":870,"y":1080,"wires":[]},{"id":"a46995dd.971958","type":"inject","z":"eb66deb5.bea27","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1480,"wires":[["76523ff5.d7891"]]},{"id":"76523ff5.d7891","type":"function","z":"eb66deb5.bea27","name":"telemetry/inffeld16/2nd/hallway/light0/main/brightness","func":"var sensor = {};\nvar max = 0;\nvar min = 0;\n\nmax = 100;\nmin = 0;\nvar v1 = Math.random() * (max - min) + min;\n\nsensor.brightness = v1;\n\nvar topic = \"telemetry/inffeld16/2nd/hallway/light0/main/brightness\";\nmsg.topic = topic;\nmsg.payload = sensor;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":1480,"wires":[["eb7738a4.47ef88"]]},{"id":"59775fc0.e3bcb","type":"inject","z":"eb66deb5.bea27","name":"","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1260,"wires":[["9ed4c116.51ce3"]]},{"id":"9ed4c116.51ce3","type":"function","z":"eb66deb5.bea27","name":"telemetry/inffeld16/2nd/hallway/refrigirator/compressor/powerconsumption","func":"var sensor = {};\nvar max = 0;\nvar min = 0;\n\nmax = 150;\nmin = 0;\nvar v1 = Math.random() * (max - min) + min;\n\nsensor.powerconsumption = v1;\n\nvar topic = \"telemetry/inffeld16/2nd/hallway/refrigirator/compressor/powerconsumption\";\nmsg.topic = topic;\nmsg.payload = sensor;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":1260,"wires":[["25c5f17.124740e"]]},{"id":"77f80ae8.913ba4","type":"inject","z":"eb66deb5.bea27","name":"","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1520,"wires":[["71d7301f.534b4"]]},{"id":"71d7301f.534b4","type":"function","z":"eb66deb5.bea27","name":"telemetry/inffeld16/1st/hallway/light0/main/brightness","func":"var sensor = {};\nvar max = 0;\nvar min = 0;\n\nmax = 100;\nmin = 0;\nvar v1 = Math.random() * (max - min) + min;\n\nsensor.brightness = v1;\n\nvar topic = \"telemetry/inffeld16/1st/hallway/light0/main/brightness\";\nmsg.topic = topic;\nmsg.payload = sensor;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":1520,"wires":[["eb7738a4.47ef88"]]},{"id":"eb7738a4.47ef88","type":"function","z":"eb66deb5.bea27","name":"empty collector","func":"\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":1480,"wires":[["48399cfc.3dd054"]]},{"id":"10919f27.d80f61","type":"inject","z":"eb66deb5.bea27","name":"","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1560,"wires":[["d82cca85.0531d8"]]},{"id":"d82cca85.0531d8","type":"function","z":"eb66deb5.bea27","name":"telemetry/inffeld16/1st/hallway/light1/main/brightness","func":"var sensor = {};\nvar max = 0;\nvar min = 0;\n\nmax = 100;\nmin = 0;\nvar v1 = Math.random() * (max - min) + min;\n\nsensor.brightness = v1;\n\nvar topic = \"telemetry/inffeld16/1st/hallway/light1/main/brightness\";\nmsg.topic = topic;\nmsg.payload = sensor;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":1560,"wires":[["eb7738a4.47ef88"]]},{"id":"736995ee.c7415c","type":"inject","z":"eb66deb5.bea27","name":"","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1340,"wires":[["b8074c3e.a8dac"]]},{"id":"b8074c3e.a8dac","type":"function","z":"eb66deb5.bea27","name":"telemetry/inffeld16/2nd/hallway/outlet/main/powerconsumption","func":"var sensor = {};\nvar max = 0;\nvar min = 0;\n\nmax = 3550;\nmin = 0;\nvar v1 = Math.random() * (max - min) + min;\n\nsensor.powerconsumption = v1;\n\nvar topic = \"telemetry/inffeld16/2nd/hallway/outlet/main/powerconsumption\";\nmsg.topic = topic;\nmsg.payload = sensor;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":1340,"wires":[["25c5f17.124740e"]]},{"id":"555fb15.d4a2e5","type":"inject","z":"eb66deb5.bea27","name":"","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1380,"wires":[["6650189f.fec428"]]},{"id":"6650189f.fec428","type":"function","z":"eb66deb5.bea27","name":"telemetry/inffeld16/2nd/hallway/outlet1/main/powerconsumption","func":"var sensor = {};\nvar max = 0;\nvar min = 0;\n\nmax = 3550;\nmin = 0;\nvar v1 = Math.random() * (max - min) + min;\n\nsensor.powerconsumption = v1;\n\n\nvar topic = \"telemetry/inffeld16/2nd/hallway/outlet1/main/powerconsumption\";\nmsg.topic = topic;\nmsg.payload = sensor;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":1380,"wires":[["25c5f17.124740e"]]},{"id":"eba315f8.09cb78","type":"inject","z":"eb66deb5.bea27","name":"","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1600,"wires":[["1e817d03.c700e3"]]},{"id":"1e817d03.c700e3","type":"function","z":"eb66deb5.bea27","name":"telemetry/inffeld16/1st/hallway/light1/main/brightness","func":"var sensor = {};\nvar max = 0;\nvar min = 0;\n\nmax = 55;\nmin = 45;\nvar v1 = Math.random() * (max - min) + min;\n\nsensor.freq = v1;\n\nvar topic = \"telemetry/inffeld16/1st/hallway/light1/main/freq\";\nmsg.topic = topic;\nmsg.payload = sensor;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":1600,"wires":[["eb7738a4.47ef88"]]},{"id":"1db4ce41.f26942","type":"inject","z":"eb66deb5.bea27","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1780,"wires":[["28fac30f.d2f42c"]]},{"id":"28fac30f.d2f42c","type":"function","z":"eb66deb5.bea27","name":"telemetry/inffeld16/2nd/id2068/littleserver/RJ45/inbound","func":"var sensor = {};\nvar max = 0;\nvar min = 0;\n\nmax = 5000;\nmin = 0;\nvar v1 = Math.random() * (max - min) + min;\n\nsensor.inbound_mbps = v1;\n\nvar topic = \"telemetry/inffeld16/2nd/id2068/littleserver/RJ45/inbound\";\nmsg.topic = topic;\nmsg.payload = sensor;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":1780,"wires":[["962e4f47.2a82f"]]},{"id":"962e4f47.2a82f","type":"function","z":"eb66deb5.bea27","name":"empty collector","func":"\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":1780,"wires":[["48399cfc.3dd054"]]},{"id":"a1fa7aa9.f48de8","type":"function","z":"eb66deb5.bea27","name":"telemetry/inffeld16/2nd/id2068/littleserver/RJ45/outbound","func":"var sensor = {};\nvar max = 0;\nvar min = 0;\n\nmax = 5000;\nmin = 0;\nvar v1 = Math.random() * (max - min) + min;\n\nsensor.outbound_mbps = v1;\n\nvar topic = \"telemetry/inffeld16/2nd/id2068/littleserver/RJ45/outbound\";\nmsg.topic = topic;\nmsg.payload = sensor;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":1820,"wires":[["962e4f47.2a82f"]]},{"id":"7cf562ea.fddc6c","type":"inject","z":"eb66deb5.bea27","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1820,"wires":[["a1fa7aa9.f48de8"]]},{"id":"88b5a59a.5d7a98","type":"function","z":"eb66deb5.bea27","name":"telemetry/inffeld16/2nd/id2068/littleserver/DC-BIG/dcin","func":"var sensor = {};\nvar max = 0;\nvar min = 0;\n\nmax = 12;\nmin = 0;\nvar v1 = Math.random() * (max - min) + min;\n\nsensor.dcin_v = v1;\n\nvar topic = \"telemetry/inffeld16/2nd/id2068/littleserver/DC-BIG/dcin\";\nmsg.topic = topic;\nmsg.payload = sensor;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":1860,"wires":[["962e4f47.2a82f"]]},{"id":"3577c747.032b98","type":"inject","z":"eb66deb5.bea27","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1860,"wires":[["88b5a59a.5d7a98"]]},{"id":"8d989f30.89049","type":"inject","z":"eb66deb5.bea27","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1940,"wires":[["f37f386a.b7aee8"]]},{"id":"f37f386a.b7aee8","type":"function","z":"eb66deb5.bea27","name":"telemetry/inffeld16/2nd/id2068/bigserver/RJ45/inbound","func":"var sensor = {};\nvar max = 0;\nvar min = 0;\n\nmax = 5000;\nmin = 0;\nvar v1 = Math.random() * (max - min) + min;\n\nsensor.inbound_mbps = v1;\n\nvar topic = \"telemetry/inffeld16/2nd/id2068/bigserver/RJ45/inbound\";\nmsg.topic = topic;\nmsg.payload = sensor;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":1940,"wires":[["962e4f47.2a82f"]]},{"id":"82cfe3f8.ce27f","type":"function","z":"eb66deb5.bea27","name":"telemetry/inffeld16/2nd/id2068/bigserver/RJ45/outbound","func":"var sensor = {};\nvar max = 0;\nvar min = 0;\n\nmax = 5000;\nmin = 0;\nvar v1 = Math.random() * (max - min) + min;\n\nsensor.outbound_mbps = v1;\n\nvar topic = \"telemetry/inffeld16/2nd/id2068/bigserver/RJ45/outbound\";\nmsg.topic = topic;\nmsg.payload = sensor;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":1980,"wires":[["962e4f47.2a82f"]]},{"id":"c318e965.8cfb28","type":"inject","z":"eb66deb5.bea27","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1980,"wires":[["82cfe3f8.ce27f"]]},{"id":"cf9f171c.c0db98","type":"function","z":"eb66deb5.bea27","name":"telemetry/inffeld16/2nd/id2068/bigserver/DC-BIG/dcin","func":"var sensor = {};\nvar max = 0;\nvar min = 0;\n\nmax = 12;\nmin = 0;\nvar v1 = Math.random() * (max - min) + min;\n\nsensor.dcin_v = v1;\n\nvar topic = \"telemetry/inffeld16/2nd/id2068/bigserver/DC-BIG/dcin\";\nmsg.topic = topic;\nmsg.payload = sensor;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":2020,"wires":[["962e4f47.2a82f"]]},{"id":"e803efc9.202b9","type":"inject","z":"eb66deb5.bea27","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":2020,"wires":[["cf9f171c.c0db98"]]},{"id":"8157058c.1aeef8","type":"inject","z":"eb66deb5.bea27","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":2120,"wires":[["865d6ea2.627d1"]]},{"id":"865d6ea2.627d1","type":"function","z":"eb66deb5.bea27","name":"telemetry/inffeld16/2nd/id2068/buildserver/RJ45/inbound","func":"var sensor = {};\nvar max = 0;\nvar min = 0;\n\nmax = 5000;\nmin = 0;\nvar v1 = Math.random() * (max - min) + min;\n\nsensor.inbound_mbps = v1;\n\nvar topic = \"telemetry/inffeld16/2nd/id2068/buildserver/RJ45/inbound\";\nmsg.topic = topic;\nmsg.payload = sensor;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":2120,"wires":[["964e426d.53168"]]},{"id":"5065a8af.8f1a98","type":"function","z":"eb66deb5.bea27","name":"telemetry/inffeld16/2nd/id2068/buildserver/RJ45/outbound","func":"var sensor = {};\nvar max = 0;\nvar min = 0;\n\nmax = 5000;\nmin = 0;\nvar v1 = Math.random() * (max - min) + min;\n\nsensor.outbound_mbps = v1;\n\nvar topic = \"telemetry/inffeld16/2nd/id2068/buildserver/RJ45/outbound\";\nmsg.topic = topic;\nmsg.payload = sensor;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":2160,"wires":[["964e426d.53168"]]},{"id":"80b274ad.9500d8","type":"inject","z":"eb66deb5.bea27","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":2160,"wires":[["5065a8af.8f1a98"]]},{"id":"7cbb7159.5cceb","type":"function","z":"eb66deb5.bea27","name":"telemetry/inffeld16/2nd/id2068/buildserver/DC-BIG/dcin","func":"var sensor = {};\nvar max = 0;\nvar min = 0;\n\nmax = 12;\nmin = 0;\nvar v1 = Math.random() * (max - min) + min;\n\nsensor.dcin_v = v1;\n\nvar topic = \"telemetry/inffeld16/2nd/id2068/buildserver/DC-BIG/dcin\";\nmsg.topic = topic;\nmsg.payload = sensor;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":2200,"wires":[["964e426d.53168"]]},{"id":"880d32e8.8084d","type":"inject","z":"eb66deb5.bea27","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":2200,"wires":[["7cbb7159.5cceb"]]},{"id":"964e426d.53168","type":"function","z":"eb66deb5.bea27","name":"empty collector","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":2100,"wires":[["48399cfc.3dd054"]]},{"id":"48399cfc.3dd054","type":"function","z":"eb66deb5.bea27","name":"empty collector","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":1580,"wires":[["6d4dac80.5614e4","77de3708.46786"]]},{"id":"f28e1b7b.87c6e8","type":"function","z":"eb66deb5.bea27","name":"telemetry/inffeld16/2nd/id2068/littleserver/RJ45/bandwidth","func":"var sensor = {};\nvar max = 0;\nvar min = 0;\n\nmax = 1000;\nmin = 450;\nvar v1 = Math.random() * (max - min) + min;\n\nsensor.bandwidth_Mbps = v1;\n\nvar topic = \"telemetry/inffeld16/2nd/id2068/littleserver/RJ45/bandwidth\";\nmsg.topic = topic;\nmsg.payload = sensor;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":1740,"wires":[["962e4f47.2a82f"]]},{"id":"9e3480a5.95b7b","type":"inject","z":"eb66deb5.bea27","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1740,"wires":[["f28e1b7b.87c6e8"]]},{"id":"effcd3e9.0a7ff","type":"mqtt in","z":"eb66deb5.bea27","name":"","topic":"rr/vis/replication/+/ds","qos":"0","datatype":"auto","broker":"73e9a24f.21590c","x":390,"y":980,"wires":[["f153aaaa.cda5a8"]]},{"id":"f153aaaa.cda5a8","type":"debug","z":"eb66deb5.bea27","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":980,"wires":[]},{"id":"85363fe1.08add","type":"mqtt in","z":"eb66deb5.bea27","name":"","topic":"rr/vis/replication/+/view","qos":"0","datatype":"auto","broker":"73e9a24f.21590c","x":400,"y":940,"wires":[["aa3a07f9.4ba878"]]},{"id":"aa3a07f9.4ba878","type":"debug","z":"eb66deb5.bea27","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":940,"wires":[]},{"id":"fa81553a.f678f8","type":"catch","z":"eb66deb5.bea27","name":"","scope":["3e0613e4.b8843c"],"uncaught":false,"x":980,"y":1120,"wires":[["dd7ee12c.8b14e"]]},{"id":"dd7ee12c.8b14e","type":"debug","z":"eb66deb5.bea27","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1160,"y":1120,"wires":[]},{"id":"3cde2d40.1654b2","type":"inject","z":"eb66deb5.bea27","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"8","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":2340,"wires":[["db6372e8.d09c8"]]},{"id":"db6372e8.d09c8","type":"function","z":"eb66deb5.bea27","name":"telemetry/inffeld16/2nd/hallway/coffeemachine/heater","func":"var sensor = {};\nvar max = 0;\nvar min = 0;\n\nmax = 50;\nmin = 49;\nvar v1 = Math.random() * (max - min) + min;\n\nsensor.temperature = v1;\n\nvar topic = \"telemetry/inffeld16/2nd/hallway/coffeemachine/heater\";\nmsg.topic = topic;\nmsg.payload=sensor;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":2340,"wires":[["964e426d.53168"]]},{"id":"f0b0263f.97b128","type":"inject","z":"eb66deb5.bea27","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":2400,"wires":[["d897f4bc.e4f198"]]},{"id":"d897f4bc.e4f198","type":"function","z":"eb66deb5.bea27","name":"telemetry/inffeld16/2nd/hallway/light/main","func":"var sensor = {};\nvar max = 0;\nvar min = 0;\n\nmax = 20;\nmin = 19;\nvar v1 = Math.random() * (max - min) + min;\n\nsensor.temperature = v1;\n\nvar topic = \"telemetry/inffeld16/2nd/hallway/light/main\";\nmsg.topic = topic;\nmsg.payload=sensor;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":2400,"wires":[["964e426d.53168"]]},{"id":"77de3708.46786","type":"debug","z":"eb66deb5.bea27","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1360,"y":1520,"wires":[]},{"id":"3bff8420.f2174c","type":"ui_group","name":"Model Upload","tab":"c1ab96d7.e27428","order":1,"disp":true,"width":"7","collapse":false},{"id":"370a75d7.b3a34a","type":"influxdb","hostname":"ragrug-influxdb","port":"8086","protocol":"http","database":"inffeld","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"","rejectUnauthorized":false},{"id":"73e9a24f.21590c","type":"mqtt-broker","name":"","broker":"ragrug-mqtt","port":"1883","clientid":"nodered","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c1ab96d7.e27428","type":"ui_tab","name":"Home","icon":"dashboard","order":5,"disabled":false,"hidden":false}]