nodered_flow_examples/heatmap_2d.json
[{"id":"cc41bb16.52b058","type":"tab","label":"Ex. Heatmap","disabled":false,"info":""},{"id":"4f844e21.bbfa6","type":"function","z":"cc41bb16.52b058","name":"view setup","func":"flow.side = 10;\nflow.xPos = (flow.side - 1) / 2;\nflow.yPos = (flow.side - 1) / 2;\n\nmsg.viewBuilder = {};\nmsg.viewBuilder.viewName = \"Heatmap\";\nmsg.viewBuilder.pointCount = flow.side * flow.side;\n\nmsg.view = {};\nmsg.view.name = msg.viewBuilder.viewName;\nmsg.view.attributes = [];\nmsg.view.attributes[CNRIF.ViewAttribute.Size] = 0;\nmsg.view.attributes[CNRIF.ViewAttribute.MinSize] = 0.1;\nmsg.view.attributes[CNRIF.ViewAttribute.MaxSize] = 1;\nmsg.view.data = [];\nlet xData = [];\nlet yData = [];\nlet zData = [];\nlet colors = [];\nlet sizes = [];\nfor(let x = 0; x < flow.side; x++) {\n    for(let y = 0; y < flow.side; y++) {\n        xData.push(x / (flow.side - 1));\n        yData.push(y / (flow.side - 1));\n        zData.push(0);\n        colors.push([1, 1, 1])\n        sizes.push(0);\n    }\n}\nmsg.view.data[CNRIF.ViewData.XPosition] = xData;\nmsg.view.data[CNRIF.ViewData.YPosition] = yData;\nmsg.view.data[CNRIF.ViewData.ZPosition] = zData;\nmsg.view.data[CNRIF.ViewData.Color] = colors;\nmsg.view.data[CNRIF.ViewData.Size] = sizes;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":120,"wires":[["c1cf9af7.5bca48"]]},{"id":"c1cf9af7.5bca48","type":"view-builder","z":"cc41bb16.52b058","viewName":"","pointCount":"4","meshTopology":5,"geometryType":"7","clientFunction":"RRJSIATK_ViewBuilder","x":470,"y":120,"wires":[["c5634e7a.df578"]]},{"id":"6322a3db.6f3d8c","type":"set-view-data","z":"cc41bb16.52b058","viewData":-1,"clientFunction":"RRJSIATK_SetViewData","x":810,"y":120,"wires":[["692e5ef0.6e10c"]]},{"id":"be4ad039.91262","type":"comment","z":"cc41bb16.52b058","name":"Setup View","info":"This function node constructs the message that the view builder node accepts. The dots form a uniform grid.\nAdditionally, the side length and the current position are saved to the flow to be accessed later.","x":310,"y":80,"wires":[]},{"id":"531e111d.98fab","type":"inject","z":"cc41bb16.52b058","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["4f844e21.bbfa6"]]},{"id":"59e9676a.21b878","type":"comment","z":"cc41bb16.52b058","name":"Build View","info":"This node creates the view GameObject in the scene. After its creation it can be retrieved with a get view node.","x":460,"y":80,"wires":[]},{"id":"b1938577.185948","type":"comment","z":"cc41bb16.52b058","name":"Apply Data","info":"This node applies the XYZ positions and colors from the view setup function to the view.","x":800,"y":80,"wires":[]},{"id":"c5634e7a.df578","type":"set-view-attribute","z":"cc41bb16.52b058","attribute":-1,"attrValue":0,"attrOverride":false,"clientFunction":"RRJSIATK_SetViewAttribute","x":640,"y":120,"wires":[["6322a3db.6f3d8c"]]},{"id":"33184bad.dd28a4","type":"comment","z":"cc41bb16.52b058","name":"Apply Attributes","info":"Applies the min/max size attributes set in the setup function.","x":640,"y":80,"wires":[]},{"id":"f705e7ee.a762e8","type":"ui_button","z":"cc41bb16.52b058","name":"","group":"6531107d.0ad47","order":11,"width":0,"height":0,"passthru":false,"label":"Left","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":330,"y":220,"wires":[["fc38e0ba.63085"]]},{"id":"d2da089c.b016d8","type":"mrtk-button-group","z":"cc41bb16.52b058","name":"Movement","layout":"4x1","x":150,"y":220,"wires":[["f705e7ee.a762e8","5d2e400b.3ef4f","a3fa0b91.0aff48","ab7aaeab.b1ba3"]]},{"id":"5d2e400b.3ef4f","type":"ui_button","z":"cc41bb16.52b058","name":"","group":"6531107d.0ad47","order":11,"width":0,"height":0,"passthru":false,"label":"Right","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":330,"y":260,"wires":[["b4a93db1.030a2"]]},{"id":"a3fa0b91.0aff48","type":"ui_button","z":"cc41bb16.52b058","name":"","group":"6531107d.0ad47","order":11,"width":0,"height":0,"passthru":false,"label":"Up","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":330,"y":340,"wires":[["4e8b5231.33daec"]]},{"id":"ab7aaeab.b1ba3","type":"ui_button","z":"cc41bb16.52b058","name":"","group":"6531107d.0ad47","order":11,"width":0,"height":0,"passthru":false,"label":"Down","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":330,"y":300,"wires":[["c5f3ef6d.7e798"]]},{"id":"fc38e0ba.63085","type":"function","z":"cc41bb16.52b058","name":"","func":"flow.xPos = Math.max(flow.xPos - 0.5, 0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":220,"wires":[["692e5ef0.6e10c"]]},{"id":"b4a93db1.030a2","type":"function","z":"cc41bb16.52b058","name":"","func":"flow.xPos = Math.min(flow.xPos + 0.5, flow.side);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":260,"wires":[["692e5ef0.6e10c"]]},{"id":"c5f3ef6d.7e798","type":"function","z":"cc41bb16.52b058","name":"","func":"flow.yPos = Math.max(flow.yPos - 0.5, 0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":300,"wires":[["692e5ef0.6e10c"]]},{"id":"4e8b5231.33daec","type":"function","z":"cc41bb16.52b058","name":"","func":"flow.yPos = Math.min(flow.yPos + 0.5, flow.side);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":340,"wires":[["692e5ef0.6e10c"]]},{"id":"692e5ef0.6e10c","type":"get-view","z":"cc41bb16.52b058","viewName":"Heatmap","msgBehavior":"1","clientFunction":"RRJSIATK_GetView","x":640,"y":220,"wires":[["2e26253d.f0afea"]]},{"id":"2e26253d.f0afea","type":"function","z":"cc41bb16.52b058","name":"update heatmap","func":"msg.view.data = [];\nlet colors = [];\nlet sizes = [];\nfor(let x = 0; x < flow.side; x++) {\n    for(let y = 0; y < flow.side; y++) {\n        let xDist = x - flow.xPos;\n        let yDist = y - flow.yPos;\n        let distance = Math.sqrt(xDist * xDist + yDist * yDist)  / (flow.side - 1);\n        let proximity = Math.max(0, 0.5 - distance) * 2;\n        colors.push([1, 1 - proximity, 1 - proximity])\n        sizes.push(proximity);\n    }\n}\n\nmsg.view.data[CNRIF.ViewData.Color] = colors;\nmsg.view.data[CNRIF.ViewData.Size] = sizes;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":220,"wires":[["e243ab54.d562f8"]]},{"id":"e243ab54.d562f8","type":"set-view-data","z":"cc41bb16.52b058","viewData":-1,"clientFunction":"RRJSIATK_SetViewData","x":990,"y":220,"wires":[[]]},{"id":"21ab2dc.6a6dad2","type":"comment","z":"cc41bb16.52b058","name":"Navigation Buttons","info":"Pressing the buttons moves the current position.","x":290,"y":180,"wires":[]},{"id":"9d9d6cd3.7e725","type":"comment","z":"cc41bb16.52b058","name":"Retrieve View","info":"Only proceeds if the view actually exists.","x":650,"y":180,"wires":[]},{"id":"4006f0bc.c760b","type":"comment","z":"cc41bb16.52b058","name":"Update","info":"Compare each dot's position to the current position and set the sizes and colors accordingly.","x":790,"y":180,"wires":[]},{"id":"5d8ff526.6c109c","type":"comment","z":"cc41bb16.52b058","name":"Apply Data","info":"Applies the colors and sizes to the view.","x":980,"y":180,"wires":[]},{"id":"6531107d.0ad47","type":"ui_group","name":"UI","tab":"d5f0b18b.3b217","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d5f0b18b.3b217","type":"ui_tab","name":"UI","icon":"dashboard","disabled":false,"hidden":true}]