nodered_flow_examples/mrtk_scene_buttons.json
[{"id":"9a81d70c.caf408","type":"tab","label":"Ex. Buttons","disabled":false,"info":""},{"id":"7e6b1578.513b8c","type":"ui_button","z":"9a81d70c.caf408","name":"","group":"6531107d.0ad47","order":3,"width":0,"height":0,"passthru":false,"label":"button1","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"button 1 works","payloadType":"str","topic":"buttonTest","topicType":"msg","x":340,"y":120,"wires":[["77e73f61.4e5d8"]]},{"id":"77e73f61.4e5d8","type":"debug","z":"9a81d70c.caf408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":120,"wires":[]},{"id":"9f6b0b2e.2ee0b8","type":"mrtk-button-group","z":"9a81d70c.caf408","name":"Group","layout":"3x1","x":150,"y":120,"wires":[["7e6b1578.513b8c","111c2df4.0fbf82","3e542966.645976"]]},{"id":"111c2df4.0fbf82","type":"ui_button","z":"9a81d70c.caf408","name":"","group":"6531107d.0ad47","order":3,"width":0,"height":0,"passthru":false,"label":"button2","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"button 2 works","payloadType":"str","topic":"buttonTest","topicType":"msg","x":340,"y":160,"wires":[["9d991428.3f5268"]]},{"id":"9d991428.3f5268","type":"debug","z":"9a81d70c.caf408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":160,"wires":[]},{"id":"3e542966.645976","type":"ui_button","z":"9a81d70c.caf408","name":"","group":"6531107d.0ad47","order":3,"width":0,"height":0,"passthru":false,"label":"button3","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"button 3 works","payloadType":"str","topic":"buttonTest","topicType":"msg","x":340,"y":200,"wires":[["82bba043.6ade3"]]},{"id":"82bba043.6ade3","type":"debug","z":"9a81d70c.caf408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":200,"wires":[]},{"id":"8b590e85.be5b7","type":"ui_button","z":"9a81d70c.caf408","name":"","group":"6531107d.0ad47","order":3,"width":0,"height":0,"passthru":false,"label":"free button","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"free button works","payloadType":"str","topic":"buttonTest","topicType":"msg","x":350,"y":300,"wires":[["b509e5f9.546428"]]},{"id":"b509e5f9.546428","type":"debug","z":"9a81d70c.caf408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":300,"wires":[]},{"id":"84c1a071.9291d","type":"comment","z":"9a81d70c.caf408","name":"Button Group","info":"Creates a button group. Outgoing links do not indicate data flow, instead any connected buttons are spawned as children of the button group.","x":130,"y":80,"wires":[]},{"id":"144d10e8.fa1bbf","type":"comment","z":"9a81d70c.caf408","name":"UI Button","info":"If deployed to RagRug, button nodes have a secondary function. Not only do they create buttons in the web UI, but also in the RagRug scene. If the button in the scene is pressed, a message is sent downstream.","x":340,"y":80,"wires":[]},{"id":"64363fa1.40387","type":"comment","z":"9a81d70c.caf408","name":"Free Button","info":"This button is not connected to a button group and floats freely.","x":350,"y":260,"wires":[]},{"id":"6531107d.0ad47","type":"ui_group","name":"UI","tab":"d5f0b18b.3b217","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d5f0b18b.3b217","type":"ui_tab","name":"UI","icon":"dashboard","disabled":false,"hidden":true}]