nodered_flow_examples/performance_measure_hub.json
[{"id":"bcfc524a.8c74f","type":"tab","label":"TImemeas Server","disabled":false,"info":""},{"id":"b0768130.f11df","type":"inject","z":"bcfc524a.8c74f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":120,"wires":[["6501af8d.fc4f1"]]},{"id":"6501af8d.fc4f1","type":"function","z":"bcfc524a.8c74f","name":"","func":"msg.payload = \"CNR_InitFromId('d10c741d.e459a8');\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":120,"wires":[["2b28918b.9ea06e"]]},{"id":"2b28918b.9ea06e","type":"mqtt out","z":"bcfc524a.8c74f","name":"","topic":"arclient/inject","qos":"0","retain":"false","broker":"73e9a24f.21590c","x":631,"y":120,"wires":[]},{"id":"19fa9492.46302b","type":"mqtt in","z":"bcfc524a.8c74f","name":"","topic":"Measurements/report/a","qos":"0","datatype":"auto","broker":"73e9a24f.21590c","x":180,"y":280,"wires":[["cdac79a1.3892d8","4ad9756b.1dc6cc"]]},{"id":"cdac79a1.3892d8","type":"debug","z":"bcfc524a.8c74f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":240,"wires":[]},{"id":"233a2a59.ada276","type":"mqtt in","z":"bcfc524a.8c74f","name":"","topic":"Measurements/report/b","qos":"0","datatype":"auto","broker":"73e9a24f.21590c","x":180,"y":380,"wires":[["17b10203.b15bde","4ad90c0c.8d49b4"]]},{"id":"17b10203.b15bde","type":"debug","z":"bcfc524a.8c74f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":340,"wires":[]},{"id":"47877ce6.d11674","type":"mqtt in","z":"bcfc524a.8c74f","name":"","topic":"Measurements/report/c","qos":"0","datatype":"auto","broker":"73e9a24f.21590c","x":180,"y":480,"wires":[["6eb9ca7d.b07f54","79309a56.3cfe14"]]},{"id":"6eb9ca7d.b07f54","type":"debug","z":"bcfc524a.8c74f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":440,"wires":[]},{"id":"a792e1f5.fbb14","type":"ui_chart","z":"bcfc524a.8c74f","name":"","group":"e3caad96.147a5","order":5,"width":"12","height":"3","label":"MQTT: Client-Send-Rec-Client | TOTAL [ms]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":710,"y":480,"wires":[[]]},{"id":"79309a56.3cfe14","type":"function","z":"bcfc524a.8c74f","name":"","func":"var data = JSON.parse(msg.payload);\nvar avg = 0;\nfor(var d in data.diffs) {\n    avg += data.diffs[d];\n}\navg /= data.diffs.length;\nmsg.payload = avg*2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":480,"wires":[["a792e1f5.fbb14","3432a283.41cdce"]]},{"id":"b394bf8e.dab55","type":"ui_chart","z":"bcfc524a.8c74f","name":"","group":"e3caad96.147a5","order":5,"width":"12","height":"3","label":"MQTT: MQTT: Local 6 Hops | Hop AVG | [ms]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":710,"y":380,"wires":[[]]},{"id":"4ad90c0c.8d49b4","type":"function","z":"bcfc524a.8c74f","name":"","func":"var data = JSON.parse(msg.payload);\nvar avg = 0;\nfor(var d in data.diffs) {\n    avg += data.diffs[d];\n}\navg /= data.diffs.length;\nmsg.payload = avg;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":380,"wires":[["b394bf8e.dab55","b519b61c.3b2008"]]},{"id":"b5345699.3dfef8","type":"ui_chart","z":"bcfc524a.8c74f","name":"","group":"e3caad96.147a5","order":5,"width":"12","height":"3","label":"MQTT: Local 6 Hops | Hop AVG [ms]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":690,"y":280,"wires":[[]]},{"id":"4ad9756b.1dc6cc","type":"function","z":"bcfc524a.8c74f","name":"","func":"var data = JSON.parse(msg.payload);\nvar avg = 0;\nfor(var d in data.diffs) {\n    avg += data.diffs[d];\n}\navg /= data.diffs.length;\nmsg.payload = avg;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":280,"wires":[["b5345699.3dfef8","dbbcbc9c.1b7c8"]]},{"id":"3432a283.41cdce","type":"debug","z":"bcfc524a.8c74f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":440,"wires":[]},{"id":"dbbcbc9c.1b7c8","type":"debug","z":"bcfc524a.8c74f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":240,"wires":[]},{"id":"b519b61c.3b2008","type":"debug","z":"bcfc524a.8c74f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":340,"wires":[]},{"id":"8dfd6c33.80653","type":"comment","z":"bcfc524a.8c74f","name":"Push Timing Flow to Client","info":"","x":200,"y":80,"wires":[]},{"id":"73e9a24f.21590c","type":"mqtt-broker","name":"","broker":"ragrug-mqtt","port":"1883","clientid":"nodered","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e3caad96.147a5","type":"ui_group","name":"Timing","tab":"e2d706f9.a551d8","order":1,"disp":true,"width":"12","collapse":false},{"id":"e2d706f9.a551d8","type":"ui_tab","name":"RR CNR Timings","icon":"dashboard","order":4,"disabled":false,"hidden":false}]