nodered_flow_examples/performance_measure_client.json
[{"id":"d10c741d.e459a8","type":"tab","label":"Timemeas","disabled":false,"info":""},{"id":"80bef65a.7a1668","type":"function","z":"d10c741d.e459a8","name":"","func":"var last = msg.payload;\nvar cur = Date.now();\nmsg.payload = {};\nmsg.payload.hops = [];\nmsg.payload.diffs = [];\nmsg.payload.name = \"A\";\n\nmsg.payload.hops.push(last);\nmsg.payload.cur = cur;\nmsg.payload.diffs.push(cur - last);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":200,"wires":[["67cc6911.da6868"]]},{"id":"3b7f9054.e4968","type":"inject","z":"d10c741d.e459a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":200,"wires":[["80bef65a.7a1668"]]},{"id":"fe597930.79fa58","type":"debug","z":"d10c741d.e459a8","name":"A","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":200,"wires":[]},{"id":"67cc6911.da6868","type":"function","z":"d10c741d.e459a8","name":"","func":"var last = msg.payload.cur;\nvar cur = Date.now();\nmsg.payload.hops.push(last);\nmsg.payload.cur = cur;\nmsg.payload.diffs.push(cur - last);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":200,"wires":[["38538521.8f310a"]]},{"id":"7c6bc687.e96888","type":"mqtt out","z":"d10c741d.e459a8","name":"","topic":"Measurements/timing","qos":"0","retain":"false","broker":"73e9a24f.21590c","x":600,"y":540,"wires":[]},{"id":"ccf3d72e.40d3f8","type":"function","z":"d10c741d.e459a8","name":"","func":"var last = msg.payload;\nvar cur = Date.now();\nmsg.payload = {};\nmsg.payload.hops = [];\nmsg.payload.diffs = [];\n\nmsg.payload.name = \"C\";\n\nmsg.payload.hops.push(last);\nmsg.payload.cur = cur;\nmsg.payload.diffs.push(cur - last);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":540,"wires":[["7c6bc687.e96888"]]},{"id":"b64b1650.aba3b8","type":"inject","z":"d10c741d.e459a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":540,"wires":[["ccf3d72e.40d3f8"]]},{"id":"865420fa.62b34","type":"mqtt in","z":"d10c741d.e459a8","name":"","topic":"Measurements/timing","qos":"0","datatype":"auto","broker":"73e9a24f.21590c","x":160,"y":580,"wires":[["3a8554db.48f53c"]]},{"id":"3a8554db.48f53c","type":"function","z":"d10c741d.e459a8","name":"","func":"msg.payload = JSON.parse(msg.payload);\nvar last = msg.payload.cur;\nvar cur = Date.now();\nmsg.payload.hops.push(last);\nmsg.payload.cur = cur;\nmsg.payload.diffs.push(cur - last);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":580,"wires":[["eadb0b27.43dfc8"]]},{"id":"907434c9.ae4d48","type":"comment","z":"d10c741d.e459a8","name":"Hopping over Mqtt server","info":"","x":170,"y":500,"wires":[]},{"id":"706d9d93.d94b54","type":"comment","z":"d10c741d.e459a8","name":"Local Hops","info":"","x":160,"y":160,"wires":[]},{"id":"38538521.8f310a","type":"function","z":"d10c741d.e459a8","name":"","func":"var last = msg.payload.cur;\nvar cur = Date.now();\nmsg.payload.hops.push(last);\nmsg.payload.cur = cur;\nmsg.payload.diffs.push(cur - last);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":200,"wires":[["fa15f3f0.1cf44"]]},{"id":"483efea5.14c76","type":"mqtt out","z":"d10c741d.e459a8","name":"","topic":"Measurements/report/a","qos":"0","retain":"false","broker":"73e9a24f.21590c","x":990,"y":260,"wires":[]},{"id":"b8777376.349fd","type":"function","z":"d10c741d.e459a8","name":"","func":"var last = msg.payload;\nvar cur = Date.now();\n\nmsg.payload = {};\nmsg.payload.hops = [];\nmsg.payload.diffs = [];\nmsg.payload.name = \"B\";\n\nmsg.payload.hops.push(last);\nmsg.payload.cur = cur;\nmsg.payload.diffs.push(cur - last);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":360,"wires":[["3dd07bc.8ea2984"]]},{"id":"b39fe733.fe7958","type":"inject","z":"d10c741d.e459a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":360,"wires":[["b8777376.349fd"]]},{"id":"ea52cdc3.8a65e","type":"debug","z":"d10c741d.e459a8","name":"B","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":380,"wires":[]},{"id":"19e3e031.e609a","type":"mqtt out","z":"d10c741d.e459a8","name":"","topic":"Measurements/report/b","qos":"0","retain":"false","broker":"73e9a24f.21590c","x":990,"y":420,"wires":[]},{"id":"eadb0b27.43dfc8","type":"mqtt out","z":"d10c741d.e459a8","name":"","topic":"Measurements/report/c","qos":"0","retain":"false","broker":"73e9a24f.21590c","x":660,"y":580,"wires":[]},{"id":"fa15f3f0.1cf44","type":"function","z":"d10c741d.e459a8","name":"","func":"var last = msg.payload.cur;\nvar cur = Date.now();\nmsg.payload.hops.push(last);\nmsg.payload.cur = cur;\nmsg.payload.diffs.push(cur - last);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":260,"wires":[["cb75f3d4.ac215"]]},{"id":"cb75f3d4.ac215","type":"function","z":"d10c741d.e459a8","name":"","func":"var last = msg.payload.cur;\nvar cur = Date.now();\nmsg.payload.hops.push(last);\nmsg.payload.cur = cur;\nmsg.payload.diffs.push(cur - last);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":260,"wires":[["d606c1ce.f7ac1"]]},{"id":"d606c1ce.f7ac1","type":"function","z":"d10c741d.e459a8","name":"","func":"var last = msg.payload.cur;\nvar cur = Date.now();\nmsg.payload.hops.push(last);\nmsg.payload.cur = cur;\nmsg.payload.diffs.push(cur - last);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":260,"wires":[["fe597930.79fa58","483efea5.14c76"]]},{"id":"3dd07bc.8ea2984","type":"function","z":"d10c741d.e459a8","name":"","func":"var last = msg.payload.cur;\nvar cur = Date.now();\nmsg.payload.hops.push(last);\nmsg.payload.cur = cur;\nmsg.payload.diffs.push(cur - last);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":360,"wires":[["d861eb57.753218"]]},{"id":"d861eb57.753218","type":"function","z":"d10c741d.e459a8","name":"","func":"var last = msg.payload.cur;\nvar cur = Date.now();\nmsg.payload.hops.push(last);\nmsg.payload.cur = cur;\nmsg.payload.diffs.push(cur - last);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":360,"wires":[["13f4244b.54005c"]]},{"id":"97ee0899.0d2528","type":"function","z":"d10c741d.e459a8","name":"","func":"var last = msg.payload.cur;\nvar cur = Date.now();\nmsg.payload.hops.push(last);\nmsg.payload.cur = cur;\nmsg.payload.diffs.push(cur - last);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":420,"wires":[["a129cddd.aaea1"]]},{"id":"a129cddd.aaea1","type":"function","z":"d10c741d.e459a8","name":"","func":"var last = msg.payload.cur;\nvar cur = Date.now();\nmsg.payload.hops.push(last);\nmsg.payload.cur = cur;\nmsg.payload.diffs.push(cur - last);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":420,"wires":[["ea52cdc3.8a65e","19e3e031.e609a"]]},{"id":"13f4244b.54005c","type":"function","z":"d10c741d.e459a8","name":"","func":"var last = msg.payload.cur;\nvar cur = Date.now();\nmsg.payload.hops.push(last);\nmsg.payload.cur = cur;\nmsg.payload.diffs.push(cur - last);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":420,"wires":[["97ee0899.0d2528"]]},{"id":"e9bdffd3.7c2e","type":"function","z":"d10c741d.e459a8","name":"","func":"try {\n    if(window.hasOwnProperty(\"targetgo\")) {\n        if(window.arcam != null && window.targetgo != null) {\n            return null;\n        }\n    }\n    \n    //var arcam = MAIN.UE.GameObject.Find(\"ARCamera\");\n    var arcam = MAIN.UE.GameObject.Find(\"MyRightTip\");\n    if(arcam != null) {\n        node.warn(\"TMX found arcam\");\n        window.arcam = arcam;\n        \n        var targetgo = MAIN.UE.GameObject.Find(\"targetgo\");\n        if(targetgo == null) {\n            targetgo = MAIN.UE.GameObject.CreatePrimitive(3);\n        }\n        \n        if(targetgo != null) {\n            node.warn(\"TMX spawned taretgo\");\n            targetgo.name = \"targetgo\";\n            targetgo.transform.localScale = new MAIN.UE.Vector3(0.05,0.05,0.05);\n            window.targetgo = targetgo;\n            \n            RT.Web.SetInterval(1000, 40, function () {\n                node.send([{\"payload\":msg.payload}, null]);\n            });\n        }\n        \n    } else {\n        node.warn(\"TMX redoing ...\");\n        node.send([null, {\"payload\":\"redo\"}]);\n    }\n} catch(err) {\n    node.warn(\"TMX ERROR => \" + err);\n}\nreturn null;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":380,"y":740,"wires":[["4aa6125e.7dda1c","65b7fece.28dbb"],["54084f68.e2d97","5376167d.bafa08"]]},{"id":"a7420269.cb7ad","type":"inject","z":"d10c741d.e459a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":130,"y":740,"wires":[["e9bdffd3.7c2e"]]},{"id":"54084f68.e2d97","type":"function","z":"d10c741d.e459a8","name":"redo if arcam is null","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":800,"wires":[["e9bdffd3.7c2e"]]},{"id":"4aa6125e.7dda1c","type":"function","z":"d10c741d.e459a8","name":"","func":"try {\n    var campos = window.arcam.transform.position;\n    var camrot = window.arcam.transform.localRotation;\n    var newpos = new MAIN.UE.Vector3(campos.x, campos.y, campos.z); \n    var newrot = new MAIN.UE.Quaternion(camrot.x, camrot.y, camrot.z, camrot.w); \n    window.targetgo.transform.localRotation = newrot;\n    window.targetgo.transform.position = newpos;\n    return msg;\n} catch(err) {\n    node.warn(\"TMX apply ERROR => \" + err);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":740,"wires":[[]]},{"id":"65b7fece.28dbb","type":"debug","z":"d10c741d.e459a8","name":"TMX A","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":680,"wires":[]},{"id":"5376167d.bafa08","type":"debug","z":"d10c741d.e459a8","name":"TMX B","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":800,"wires":[]},{"id":"f3a58ccc.6f9e9","type":"function","z":"d10c741d.e459a8","name":"","func":"try {\n    if(window.hasOwnProperty(\"targetgo2\")) {\n        if(window.arcam2 != null && window.targetgo2 != null) {\n            return null;\n        }\n    }\n    \n    //var arcam2 = MAIN.UE.GameObject.Find(\"ARCamera\");\n    var arcam2 = MAIN.UE.GameObject.Find(\"MyLeftTip\");\n    if(arcam2 != null) {\n        node.warn(\"TMX found arcam2\");\n        window.arcam2 = arcam2;\n        \n        var targetgo2 = MAIN.UE.GameObject.Find(\"targetgo2\");\n        if(targetgo2 == null) {\n            targetgo2 = MAIN.UE.GameObject.CreatePrimitive(3);\n        }\n        \n        if(targetgo2 != null) {\n            node.warn(\"TMX spawned taretgo2\");\n            targetgo2.name = \"targetgo2\";\n            targetgo2.transform.localScale = new MAIN.UE.Vector3(0.05,0.05,0.05);\n            window.targetgo2 = targetgo2;\n            \n            var r = window.targetgo2.GetComponent(MAIN.UE.Renderer);\n            if (r != null) {\n                r.material.color = MAIN.UE.Color.green;\n                //r.material.color = new MAIN.UE.Color(0.3, 0.3, 0.3, 0.9);\n            }\n            \n            RT.Web.SetInterval(900, 10, function () {\n                node.send([{\"payload\":msg.payload}, null]);\n            });\n        }\n        \n    } else {\n        node.warn(\"TMX redoing2 ...\");\n        node.send([null, {\"payload\":\"redo\"}]);\n    }\n} catch(err) {\n    node.warn(\"TMX ERROR => \" + err);\n}\nreturn null;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":380,"y":940,"wires":[["d88c3a83.425c68","4c486e36.124dd","5595a874.cc3db8"],["8e6b34d5.bb8e78","44409da1.c4c624"]]},{"id":"176a36a6.514b69","type":"inject","z":"d10c741d.e459a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":130,"y":940,"wires":[["f3a58ccc.6f9e9"]]},{"id":"8e6b34d5.bb8e78","type":"function","z":"d10c741d.e459a8","name":"redo if arcam is null","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":1000,"wires":[["f3a58ccc.6f9e9"]]},{"id":"d88c3a83.425c68","type":"function","z":"d10c741d.e459a8","name":"","func":"try {\n    window.newpos2 = window.arcam2.transform.position;\n    window.newrot2 = window.arcam2.transform.localRotation;\n    //var campos = window.arcam2.transform.position;\n    //var camrot = window.arcam2.transform.localRotation;\n    //window.newpos2 = new MAIN.UE.Vector3(campos.x, campos.y, campos.z); \n    //window.newrot2 = new MAIN.UE.Quaternion(camrot.x, camrot.y, camrot.z, camrot.w); \n    //window.targetgo2.transform.localRotation = newrot;\n    //window.targetgo2.transform.position = newpos;\n    return msg;\n} catch(err) {\n    node.warn(\"TMX apply ERROR => \" + err);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":940,"wires":[[]]},{"id":"4c486e36.124dd","type":"debug","z":"d10c741d.e459a8","name":"TMX A","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":900,"wires":[]},{"id":"44409da1.c4c624","type":"debug","z":"d10c741d.e459a8","name":"TMX B","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":980,"wires":[]},{"id":"48935527.40561c","type":"function","z":"d10c741d.e459a8","name":"","func":"try {\n    if(!window.hasOwnProperty(\"targetgo2\")) {\n        return null;\n    }\n\n    if(window.targetgo2 != null) {\n        RT.Web.SetInterval(900, 20, function () {\n            node.send([{\"payload\":msg.payload}, null]);\n        });\n    }\n    \n} catch(err) {\n    node.warn(\"TMX3 ERROR => \" + err);\n}\nreturn null;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":400,"y":1140,"wires":[["e908612d.e1c83","a5df5176.ce6ba"],["f7ed1a6f.041aa8","e72af758.149798"]]},{"id":"88002cc5.8c215","type":"inject","z":"d10c741d.e459a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"6","topic":"","payload":"","payloadType":"date","x":150,"y":1140,"wires":[["48935527.40561c"]]},{"id":"f7ed1a6f.041aa8","type":"function","z":"d10c741d.e459a8","name":"redo if arcam is null","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":1200,"wires":[["48935527.40561c"]]},{"id":"e908612d.e1c83","type":"function","z":"d10c741d.e459a8","name":"","func":"try {\n    window.targetgo2.transform.localRotation = window.newrot2;\n    window.targetgo2.transform.position = window.newpos2;\n    return msg;\n} catch(err) {\n    node.warn(\"TMX3 apply ERROR => \" + err);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1140,"wires":[[]]},{"id":"a5df5176.ce6ba","type":"debug","z":"d10c741d.e459a8","name":"TMX A","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":1100,"wires":[]},{"id":"e72af758.149798","type":"debug","z":"d10c741d.e459a8","name":"TMX B","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":1180,"wires":[]},{"id":"ec33b345.7dfe2","type":"function","z":"d10c741d.e459a8","name":"Create Empty Vis","func":"\n//var nextId = Main_GetNextChartId();\nvar nextId = RT.Help.CreateGuid();\nflow.set(\"VIS0\", nextId);\nflow.set(\"VIS0LastUsed\", 0);\nflow.set(\"VIS0InitDone\", false);\nflow.set(\"VIS0Dist\", -1);\n\nvar chart = RT.VIS.GetNewChartObjectIATK2(\n    nextId, MAIN.usercanvas.charts2.length, \"IATKChart\", 0.3, 0,false);\n\nMAIN.usercanvas.charts2[nextId] = chart;\n\nMAIN.RR.Runtime.ToggleObjManipulation(chart.chartGoName);\nvar bc = MAIN.RR.Runtime.AddBoxCollider(chart.chartGo);\nbc.size = new MAIN.UE.Vector3(0.3, 0.3, 0.3);\n\nmsg.payload = nextId;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":1320,"wires":[["655f4aa7.740304"]]},{"id":"da0053e6.7281","type":"inject","z":"d10c741d.e459a8","name":"A","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"0","payloadType":"num","x":110,"y":1320,"wires":[["1a6bebab.230174"]]},{"id":"655f4aa7.740304","type":"function","z":"d10c741d.e459a8","name":"add dimensions","func":"var chartId = msg.payload;\nvar chart = MAIN.usercanvas.charts2[chartId];\n\nchart.rtds.AddDimension(\"x\", 0, 10);\nchart.rtds.AddDimension(\"y\", 0, 10);\nchart.rtds.AddDimension(\"z\", 0, 10);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":1320,"wires":[[]]},{"id":"60a0a3c0.9f29ec","type":"function","z":"d10c741d.e459a8","name":"Setup JSON","func":"var visData = \n{\n    \"UID\":\"\",\n    \"VisualisationType\":\"SCATTERPLOT\",\n    \"parallelCoordinatesDimensionsAttributes\":[],\n    \"parallelCoordinatesDimensionsMinFilter\":[],\n    \"parallelCoordinatesDimensionsMaxFilter\":[],\n    \"parallelCoordinatesDimensionsMinScale\":[],\n    \"parallelCoordinatesDimensionsMaxScale\":[],\n    \"Geometry\": 1,\n    \"AxiesKeys\":[0, 1, 2],\n    \"AxiesValues\":[\"x\",\"y\",\"z\"],\n    \"ColourDimension\":\"Undefined\",\n    \"SizeDimension\":\"Undefined\",\n    \"LinkingDimension\":\"id\",\n    \"colourKeys\":\n    {\n        \"serializedVersion\":\"2\",\n        \"key0\":{\"r\":0.0,\"g\":1.0,\"b\":0.0,\"a\":1.0},\n        \"key1\":{\"r\":1.0,\"g\":0.0,\"b\":0.0,\"a\":1.0},\n        \"key2\":{\"r\":0.0,\"g\":0.0,\"b\":0.0,\"a\":0.0},\n        \"key3\":{\"r\":0.0,\"g\":0.0,\"b\":0.0,\"a\":0.0},\n        \"key4\":{\"r\":0.0,\"g\":0.0,\"b\":0.0,\"a\":0.0},\n        \"key5\":{\"r\":0.0,\"g\":0.0,\"b\":0.0,\"a\":0.0},\n        \"key6\":{\"r\":0.0,\"g\":0.0,\"b\":0.0,\"a\":0.0},\n        \"key7\":{\"r\":0.0,\"g\":0.0,\"b\":0.0,\"a\":0.0},\n        \"ctime0\":0,\"ctime1\":65535,\"ctime2\":0,\"ctime3\":0,\"ctime4\":0,\"ctime5\":0,\"ctime6\":0,\"ctime7\":0,\n        \"atime0\":0,\"atime1\":65535,\"atime2\":0,\"atime3\":0,\"atime4\":0,\"atime5\":0,\"atime6\":0,\"atime7\":0,\n        \"m_Mode\":0,\n        \"m_NumColorKeys\":2,\n        \"m_NumAlphaKeys\":2\n    },\n    \"colour\":{\"r\":0.0,\"g\":0.0,\"b\":1.0,\"a\":0.5},\n    \"Size\":0.2,\n    \"MinSize\":0.01,\n    \"MaxSize\":0.2,\n    \"VisualisationWidth\":0.3,\n    \"VisualisationHeight\":0.3,\n    \"VisualisationDepth\":0.3\n};\nmsg.json = visData;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":1380,"wires":[["2f9c1455.98633c"]]},{"id":"2f9c1455.98633c","type":"function","z":"d10c741d.e459a8","name":"apply json","func":"var chartId = msg.payload;\nvar chart = MAIN.usercanvas.charts2[chartId];\n\nvar json = JSON.stringify(msg.json);\nchart.vis.theVisualizationObject.creationConfiguration.DeserializeJson(json);\nimportNamespace(\"IATK\").Replicator.SyncVis(chart.vis);\nchart.fctUpdateChart();\nchart.vis.updateProperties();\n\nflow.set(\"VIS0InitDone\", true);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":1380,"wires":[[]]},{"id":"960b97b2.d803f8","type":"inject","z":"d10c741d.e459a8","name":"A","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"0","payloadType":"num","x":110,"y":1380,"wires":[["2d486f4.f217d9"]]},{"id":"a2c6437a.1d376","type":"function","z":"d10c741d.e459a8","name":"data update","func":"var topic = msg.topic;\nvar data = JSON.parse(msg.payload);\n\nvar temp = data.temperature;\n\nvar pos = window.newpos2;\n\n\nvar chartId = flow.get(\"VIS0\");\ntry {\n    var chart = MAIN.usercanvas.charts2[chartId];\n    chart.rtds.SetDataStrVal(\"x\", pos.x);\n    chart.rtds.SetDataStrVal(\"y\", pos.y);\n    chart.rtds.SetDataStrVal(\"z\", pos.z);\n    chart.fctUpdateChart();\n} catch(err) {\n    //node.warn(\"CNR (dataupdate) ERROR => \" + err);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":1440,"wires":[[]]},{"id":"614526fb.885648","type":"function","z":"d10c741d.e459a8","name":"get chartid","func":"var chartId = flow.get(\"VIS0\");\nmsg.payload = chartId;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":1380,"wires":[["60a0a3c0.9f29ec"]]},{"id":"1a6bebab.230174","type":"function","z":"d10c741d.e459a8","name":"client filter","func":"try {\n    var n = MAIN.usercanvas;\n    return msg;\n} catch(err) {\n    return null;\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":1320,"wires":[["ec33b345.7dfe2"]]},{"id":"2d486f4.f217d9","type":"function","z":"d10c741d.e459a8","name":"client filter","func":"try {\n    var n = MAIN.usercanvas;\n    return msg;\n} catch(err) {\n    return null;\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":1380,"wires":[["614526fb.885648"]]},{"id":"5595a874.cc3db8","type":"function","z":"d10c741d.e459a8","name":"check init","func":"var isInit = flow.get(\"VIS0InitDone\");\nif(!isInit) {\n    return null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1440,"wires":[["a2c6437a.1d376"]]},{"id":"73e9a24f.21590c","type":"mqtt-broker","name":"","broker":"ragrug-mqtt","port":"1883","clientid":"nodered","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]