nodered_flow_examples/redeploying.json
[{"id":"c73257ea.dcab78","type":"tab","label":"Ex. Refresh","disabled":false,"info":""},{"id":"4fc9c4fe.d15fec","type":"redeploy","z":"c73257ea.dcab78","CNRUpdateBehavior":"1","flowId":"c73257ea.dcab78","x":280,"y":120,"wires":[["a9754387.c0e57"]]},{"id":"25099f4e.2df03","type":"inject","z":"c73257ea.dcab78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["4fc9c4fe.d15fec"]]},{"id":"a9754387.c0e57","type":"mqtt out","z":"c73257ea.dcab78","name":"","topic":"cnr/redeployflow","qos":"0","retain":"false","broker":"73e9a24f.21590c","x":440,"y":120,"wires":[]},{"id":"7c48ec56.193ce4","type":"comment","z":"c73257ea.dcab78","name":"Redeploy Node Group","info":"To enable automatic redeployment, arrange nodes like this. The redeploy node needs to contain the flow's ID. The MQTT node needs to publish on the cnr/redeployflow topic.\nIf the node is set to the \"Create New (Default)\" mode, no teardowns of injection node representations will happen on redeployment.","x":160,"y":80,"wires":[]},{"id":"1853b0de.22ecff","type":"comment","z":"c73257ea.dcab78","name":"Best Practice: View/RTDS Teardown","info":"Views and Realtime Data Sources are not automatically destroyed on redeploy, the responsibility lies with the flow creator.\nThere are two approaches, both use the get-view node to retrieve the view/RTDS before its creation. The first approach involves always destroying the entity in question, the second involves using the \"Send on Fail\" setting in the get node.\nThe first approach fully reforms the entity, the second prevents new instances from being spawned. Both have their own use-cases.","x":200,"y":180,"wires":[]},{"id":"ef3c3185.22e93","type":"get-view","z":"c73257ea.dcab78","viewName":"View Name","msgBehavior":0,"clientFunction":"RRJSIATK_GetView","x":300,"y":220,"wires":[["501fd73f.6014c8"]]},{"id":"501fd73f.6014c8","type":"destroy-view","z":"c73257ea.dcab78","clientFunction":"RRJSIATK_DestroyView","x":450,"y":220,"wires":[[]]},{"id":"4d2cac8a.bf86f4","type":"get-view","z":"c73257ea.dcab78","viewName":"View Name","msgBehavior":"2","clientFunction":"RRJSIATK_GetView","x":300,"y":260,"wires":[[]]},{"id":"23a6ea73.9b3356","type":"rtds-destroy","z":"c73257ea.dcab78","clientFunction":"RRJSIATK_RTDSDestroy","x":450,"y":300,"wires":[[]]},{"id":"c65c3551.e62d88","type":"rtds-get","z":"c73257ea.dcab78","rtdsName":"RTDS Name","msgBehavior":0,"clientFunction":"RRJSIATK_RTDSGet","x":300,"y":300,"wires":[["23a6ea73.9b3356"]]},{"id":"5effb976.ab2978","type":"rtds-get","z":"c73257ea.dcab78","rtdsName":"RTDS Name","msgBehavior":"2","clientFunction":"RRJSIATK_RTDSGet","x":300,"y":340,"wires":[[]]},{"id":"611f790c.b15cb8","type":"inject","z":"c73257ea.dcab78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":130,"y":220,"wires":[["ef3c3185.22e93","4d2cac8a.bf86f4","c65c3551.e62d88","5effb976.ab2978"]]},{"id":"73e9a24f.21590c","type":"mqtt-broker","name":"","broker":"ragrug-mqtt","port":"1883","clientid":"nodered","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]