nodered_flow_examples/simple_test.json
[{"id":"d73287cf.ec7678","type":"tab","label":"simple test","disabled":false,"info":""},{"id":"abf1336b.afd37","type":"function","z":"d73287cf.ec7678","name":"F1","func":"//node.warn(\"node warn test\");\nmsg.payload = \"this was set from F1! the time is \" + msg.payload;\n\nvar msg2 = {};\nmsg2.payload = \"testing node.send!\";\nnode.send(msg2);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":140,"wires":[["a033a1ba.4023","c06a2ae4.381bc8"]]},{"id":"a033a1ba.4023","type":"debug","z":"d73287cf.ec7678","name":"D1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":80,"wires":[]},{"id":"60266cd8.69d124","type":"inject","z":"d73287cf.ec7678","name":"IN0","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":140,"wires":[["abf1336b.afd37","60f8ef42.798b8"]]},{"id":"60f8ef42.798b8","type":"debug","z":"d73287cf.ec7678","name":"D0","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":400,"y":80,"wires":[]},{"id":"d16edfa3.8f49a","type":"debug","z":"d73287cf.ec7678","name":"D2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":140,"wires":[]},{"id":"c06a2ae4.381bc8","type":"function","z":"d73287cf.ec7678","name":"F2","func":"//node.warn(\"node warn test\");\nmsg.payload = \"1\";\nmsg.topic = \"mytopic\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":140,"wires":[["d16edfa3.8f49a"]]}]