nodered_flow_examples/simple_line_link.json
[{"id":"d48817d1.8ea588","type":"tab","label":"Ex. Line Link","disabled":false,"info":""},{"id":"b1130596.bbcba8","type":"function","z":"d48817d1.8ea588","name":"view setup","func":"msg.viewBuilder = {};\n\nmsg.view = {};\nmsg.view.name = msg.viewBuilder.viewName;\nmsg.view.attributes = [];\nmsg.view.data = [];\nmsg.view.data[CNRIF.ViewData.XPosition] = [1, 1, 0, 0];\nmsg.view.data[CNRIF.ViewData.YPosition] = [1, 0, 0, 1];\nmsg.view.data[CNRIF.ViewData.ZPosition] = [1, 0, 1, 0];\nmsg.view.data[CNRIF.ViewData.Color] = [[1, 0, 0], [0, 1, 0], [0, 0, 1], [1, 0, 1]];\nmsg.view.data[CNRIF.ViewData.Indices] = {isLinking: false, data: [0, 1, 0, 2, 0, 3, 1, 2, 1, 3, 2, 3]};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":120,"wires":[["b266e0b7.36699"]]},{"id":"b266e0b7.36699","type":"view-builder","z":"d48817d1.8ea588","viewName":"Multi Linking Lines","pointCount":"4","meshTopology":"3","geometryType":"2","clientFunction":"RRJSIATK_ViewBuilder","x":470,"y":120,"wires":[["3d0f927d.b7ddfe"]]},{"id":"3d0f927d.b7ddfe","type":"set-view-data","z":"d48817d1.8ea588","viewData":-1,"clientFunction":"RRJSIATK_SetViewData","x":630,"y":120,"wires":[[]]},{"id":"28fcd5b.db7442a","type":"comment","z":"d48817d1.8ea588","name":"Setup View","info":"This function node constructs the message that the view builder node accepts. To properly draw a line, the Indices field is required. To create more complex line configurations, the `isLinking` field is set to false, and pairs of point indices are provided, in this case linking all points to each other to form a tetrahedron.","x":310,"y":80,"wires":[]},{"id":"305abd9c.d34ad2","type":"comment","z":"d48817d1.8ea588","name":"Build View","info":"This node creates the view GameObject in the scene. After its creation it can be retrieved with a get view node.","x":460,"y":80,"wires":[]},{"id":"57ae86cb.a03048","type":"comment","z":"d48817d1.8ea588","name":"Apply Data","info":"This node applies the XYZ positions, colors and indices from the view setup function to the view.","x":620,"y":80,"wires":[]},{"id":"a6e98b82.941ce8","type":"inject","z":"d48817d1.8ea588","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["b1130596.bbcba8"]]}]