nodered_flow_examples/simple_dots.json
[{"id":"6a20ff3d.4d5bf","type":"tab","label":"Ex. Points","disabled":false,"info":""},{"id":"5193ee49.42b4c","type":"function","z":"6a20ff3d.4d5bf","name":"view setup","func":"msg.viewBuilder = {};\n\nmsg.view = {};\nmsg.view.name = msg.viewBuilder.viewName;\nmsg.view.attributes = [];\nmsg.view.data = [];\nmsg.view.data[CNRIF.ViewData.XPosition] = [1, 1, 0, 0];\nmsg.view.data[CNRIF.ViewData.YPosition] = [1, 0, 0, 1];\nmsg.view.data[CNRIF.ViewData.ZPosition] = [1, 0, 1, 0];\nmsg.view.data[CNRIF.ViewData.Color] = [[1, 0, 0], [0, 1, 0], [0, 0, 1], [1, 0, 1]];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":120,"wires":[["3a463608.dce37a"]]},{"id":"6fde53a7.be3e4c","type":"inject","z":"6a20ff3d.4d5bf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["5193ee49.42b4c"]]},{"id":"3a463608.dce37a","type":"view-builder","z":"6a20ff3d.4d5bf","viewName":"Four Points","pointCount":"4","meshTopology":5,"geometryType":1,"clientFunction":"RRJSIATK_ViewBuilder","x":470,"y":120,"wires":[["77f2c845.5d1b88"]]},{"id":"77f2c845.5d1b88","type":"set-view-data","z":"6a20ff3d.4d5bf","viewData":-1,"clientFunction":"RRJSIATK_SetViewData","x":630,"y":120,"wires":[[]]},{"id":"6a3f1e04.f566b","type":"comment","z":"6a20ff3d.4d5bf","name":"Setup View","info":"This function node constructs the message that the view builder node accepts.","x":310,"y":80,"wires":[]},{"id":"c13d4bb0.90af28","type":"comment","z":"6a20ff3d.4d5bf","name":"Build View","info":"This node creates the view GameObject in the scene. After its creation it can be retrieved with a get view node.","x":460,"y":80,"wires":[]},{"id":"d624097d.4cc7e8","type":"comment","z":"6a20ff3d.4d5bf","name":"Apply Data","info":"This node applies the XYZ positions and colors from the view setup function to the view.","x":620,"y":80,"wires":[]}]