nodered_flow_examples/simple_line_procedural.json
[{"id":"4c4cbce2.b53114","type":"tab","label":"Ex. LChart","disabled":false,"info":""},{"id":"76ccb665.6516a8","type":"function","z":"4c4cbce2.b53114","name":"view setup","func":"msg.viewBuilder = {};\nmsg.viewBuilder.pointCount = 20;\n\nmsg.view = {};\nmsg.view.name = msg.viewBuilder.viewName;\nmsg.view.attributes = [];\nmsg.view.data = [];\nlet xData = [];\nlet yData = [];\nlet zData = [];\nlet colors = [];\nlet linkData = [];\nfor(let i = 0; i < msg.viewBuilder.pointCount; i++) {\n    let x = i / (msg.viewBuilder.pointCount - 1);\n    let y = x * x;\n    xData.push(x);\n    yData.push(y);\n    zData.push(0);\n    colors.push([x,  1 - y, 1]);\n    linkData.push(0);\n}\nmsg.view.data[CNRIF.ViewData.XPosition] = xData;\nmsg.view.data[CNRIF.ViewData.YPosition] = yData;\nmsg.view.data[CNRIF.ViewData.ZPosition] = zData;\nmsg.view.data[CNRIF.ViewData.Color] = colors;\nmsg.view.data[CNRIF.ViewData.Indices] = {isLinking: true, data: linkData};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":120,"wires":[["128a23ec.8fdf7c"]]},{"id":"128a23ec.8fdf7c","type":"view-builder","z":"4c4cbce2.b53114","viewName":"Line Chart","pointCount":"4","meshTopology":"3","geometryType":"2","clientFunction":"RRJSIATK_ViewBuilder","x":470,"y":120,"wires":[["8a11494e.5fec48"]]},{"id":"8a11494e.5fec48","type":"set-view-data","z":"4c4cbce2.b53114","viewData":-1,"clientFunction":"RRJSIATK_SetViewData","x":630,"y":120,"wires":[[]]},{"id":"4fc2b7af.636008","type":"inject","z":"4c4cbce2.b53114","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["76ccb665.6516a8"]]},{"id":"4808a31c.6e755c","type":"comment","z":"4c4cbce2.b53114","name":"Setup View","info":"This function node constructs the message that the view builder node accepts. Samples a function to create data points.","x":310,"y":80,"wires":[]},{"id":"e4737dc7.8e618","type":"comment","z":"4c4cbce2.b53114","name":"Build View","info":"This node creates the view GameObject in the scene. After its creation it can be retrieved with a get view node.","x":460,"y":80,"wires":[]},{"id":"dc5784e0.7bc0e8","type":"comment","z":"4c4cbce2.b53114","name":"Apply Data","info":"This node applies the XYZ positions, colors and indices from the view setup function to the view.","x":620,"y":80,"wires":[]}]