nodered_flow_examples/simple_line.json
[{"id":"53bd6527.46f79c","type":"tab","label":"Ex. Line","disabled":false,"info":""},{"id":"43a1d1aa.0dacd","type":"function","z":"53bd6527.46f79c","name":"view setup","func":"msg.viewBuilder = {};\nmsg.viewBuilder.viewName = \"Line Demo\";\n\nmsg.view = {};\nmsg.view.name = msg.viewBuilder.viewName;\nmsg.view.attributes = [];\nmsg.view.data = [];\nmsg.view.data[CNRIF.ViewData.XPosition] = [1, 1, 0, 0];\nmsg.view.data[CNRIF.ViewData.YPosition] = [1, 0, 0, 1];\nmsg.view.data[CNRIF.ViewData.ZPosition] = [1, 0, 1, 0];\nmsg.view.data[CNRIF.ViewData.Color] = [[1, 0, 0], [0, 1, 0], [0, 0, 1], [1, 0, 1]];\nmsg.view.data[CNRIF.ViewData.Indices] = {isLinking: true, data: [0, 0, 0, 0]};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":120,"wires":[["d85ef1a4.a5682"]]},{"id":"d85ef1a4.a5682","type":"view-builder","z":"53bd6527.46f79c","viewName":"","pointCount":"4","meshTopology":"3","geometryType":"2","clientFunction":"RRJSIATK_ViewBuilder","x":470,"y":120,"wires":[["a5ae7acc.435c78"]]},{"id":"a5ae7acc.435c78","type":"set-view-data","z":"53bd6527.46f79c","viewData":-1,"clientFunction":"RRJSIATK_SetViewData","x":630,"y":120,"wires":[[]]},{"id":"7db7df29.f57d5","type":"inject","z":"53bd6527.46f79c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["43a1d1aa.0dacd"]]},{"id":"6cd7caaa.881924","type":"comment","z":"53bd6527.46f79c","name":"Setup View","info":"This function node constructs the message that the view builder node accepts. To properly draw a line, the Indices field is required. In this simple case, the `isLinking` property is set to true, which means that since all linking indices are the same, the line will go through all four points in order.","x":310,"y":80,"wires":[]},{"id":"db716e70.d01e2","type":"comment","z":"53bd6527.46f79c","name":"Build View","info":"This node creates the view GameObject in the scene. After its creation it can be retrieved with a get view node.","x":460,"y":80,"wires":[]},{"id":"8818e27f.f421a","type":"comment","z":"53bd6527.46f79c","name":"Apply Data","info":"This node applies the XYZ positions, colors and indices from the view setup function to the view.","x":620,"y":80,"wires":[]}]