nodered_flow_examples/simple_line_procedural_multi.json
[{"id":"fd029c97.288bf","type":"tab","label":"Ex. SLChart","disabled":false,"info":""},{"id":"b53670e1.95a8a","type":"function","z":"fd029c97.288bf","name":"view setup","func":"let lines = 3;\nlet pointsPerLine = 20;\n\nmsg.viewBuilder = {};\nmsg.viewBuilder.pointCount = pointsPerLine * lines;\n\nmsg.view = {};\nmsg.view.name = msg.viewBuilder.viewName;\nmsg.view.attributes = [];\nmsg.view.data = [];\nlet xData = [];\nlet yData = [];\nlet zData = [];\nlet colors = [];\nlet linkData = [];\nfor(let l = 0; l < lines; l++) {\n    for(let i = 0; i < pointsPerLine; i++) {\n        let x, y, color;\n        x = i / (pointsPerLine - 1);\n        if (l === 0) {\n            y = x * x;\n            color = [x,  1 - y, 1];\n        } else if (l === 1) {\n            y = 1 - x;\n            color = [y,  y, 1];\n        } else if (l === 2) {\n            y = 0.1 + Math.sqrt(x) * 0.8;\n            color = [1, x, y];\n        }\n        \n        xData.push(x);\n        yData.push(y);\n        zData.push(0);\n        colors.push(color);\n        linkData.push(l);\n    }\n}\nmsg.view.data[CNRIF.ViewData.XPosition] = xData;\nmsg.view.data[CNRIF.ViewData.YPosition] = yData;\nmsg.view.data[CNRIF.ViewData.ZPosition] = zData;\nmsg.view.data[CNRIF.ViewData.Color] = colors;\nmsg.view.data[CNRIF.ViewData.Indices] = {isLinking: true, data: linkData};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":120,"wires":[["92fabe5c.76e79"]]},{"id":"92fabe5c.76e79","type":"view-builder","z":"fd029c97.288bf","viewName":"Multi-Line Chart","pointCount":"4","meshTopology":"3","geometryType":"2","clientFunction":"RRJSIATK_ViewBuilder","x":470,"y":120,"wires":[["df160bf1.d69708"]]},{"id":"df160bf1.d69708","type":"set-view-data","z":"fd029c97.288bf","viewData":-1,"clientFunction":"RRJSIATK_SetViewData","x":630,"y":120,"wires":[[]]},{"id":"1196eeb9.e364b1","type":"inject","z":"fd029c97.288bf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["b53670e1.95a8a"]]},{"id":"227177da.c17a28","type":"comment","z":"fd029c97.288bf","name":"Setup View","info":"This function node constructs the message that the view builder node accepts. Draws three lines, each using its own linking index. For examples like these using `isLinking = true` is sufficient since there is no need for n-to-n linking.","x":310,"y":80,"wires":[]},{"id":"4a1d40f4.ab639","type":"comment","z":"fd029c97.288bf","name":"Build View","info":"This node creates the view GameObject in the scene. After its creation it can be retrieved with a get view node.","x":460,"y":80,"wires":[]},{"id":"ec90dd0a.0d2b2","type":"comment","z":"fd029c97.288bf","name":"Apply Data","info":"This node applies the XYZ positions, colors and indices from the view setup function to the view.","x":620,"y":80,"wires":[]}]