nodered_flow_examples/simple_bars.json
[{"id":"d514ae3.a28165","type":"tab","label":"Ex. Bars","disabled":false,"info":""},{"id":"1a08e4a4.3698cb","type":"function","z":"d514ae3.a28165","name":"view setup","func":"msg.viewBuilder = {};\n\nmsg.view = {};\nmsg.view.name = msg.viewBuilder.viewName;\nmsg.view.attributes = [];\nmsg.view.data = [];\nmsg.view.data[CNRIF.ViewData.XPosition] = [1, 1, 0, 0];\nmsg.view.data[CNRIF.ViewData.YPosition] = [1, 0, 0, 1];\nmsg.view.data[CNRIF.ViewData.ZPosition] = [1, 0, 1, 0];\nmsg.view.data[CNRIF.ViewData.Color] = [[1, 0, 0], [0, 1, 0], [0, 0, 1], [1, 0, 1]];\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":120,"wires":[["ecc4a87c.2e31e8"]]},{"id":"c8c15ec4.c1d6b","type":"inject","z":"d514ae3.a28165","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["1a08e4a4.3698cb"]]},{"id":"ecc4a87c.2e31e8","type":"view-builder","z":"d514ae3.a28165","viewName":"Bars","pointCount":"4","meshTopology":5,"geometryType":"6","clientFunction":"RRJSIATK_ViewBuilder","x":470,"y":120,"wires":[["6bb366a0.0150c8"]]},{"id":"6bb366a0.0150c8","type":"set-view-data","z":"d514ae3.a28165","viewData":-1,"clientFunction":"RRJSIATK_SetViewData","x":630,"y":120,"wires":[[]]},{"id":"ad8d4856.47fcd8","type":"comment","z":"d514ae3.a28165","name":"Setup View","info":"This function node constructs the message that the view builder node accepts.","x":310,"y":80,"wires":[]},{"id":"e360dc4a.d9c28","type":"comment","z":"d514ae3.a28165","name":"Build View","info":"This node creates the view GameObject in the scene. After its creation it can be retrieved with a get view node.","x":460,"y":80,"wires":[]},{"id":"5a20282a.4116c8","type":"comment","z":"d514ae3.a28165","name":"Apply Data","info":"This node applies the XYZ positions and colors from the view setup function to the view.","x":620,"y":80,"wires":[]}]