nodered_flow_examples/smart_fridge_distributed_hub.json
[{"id":"3d91de7c.8d0e42","type":"tab","label":"clientside2-server","disabled":false,"info":""},{"id":"a841d39.ca15b3","type":"mqtt in","z":"3d91de7c.8d0e42","name":"SA rr/fridge/dist","topic":"rr/fridge/dist","qos":"0","datatype":"auto","broker":"73e9a24f.21590c","x":180,"y":160,"wires":[["6f6fa803.3075b8"]]},{"id":"6f6fa803.3075b8","type":"function","z":"3d91de7c.8d0e42","name":"SB","func":"var distance = msg.payload;\nif(distance > 35) {\n    msg.payload = true;\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":160,"wires":[["e164b83a.b9e398"]]},{"id":"e164b83a.b9e398","type":"mqtt out","z":"3d91de7c.8d0e42","name":"SC rr/fridge/dooropen","topic":"rr/fridge/dooropen","qos":"0","retain":"false","broker":"73e9a24f.21590c","x":540,"y":160,"wires":[]},{"id":"e3df0de5.88f0f","type":"inject","z":"3d91de7c.8d0e42","name":"SD","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"36","payloadType":"num","x":170,"y":260,"wires":[["aefd319b.70914"]]},{"id":"aefd319b.70914","type":"mqtt out","z":"3d91de7c.8d0e42","name":"SE rr/fridge/dist","topic":"rr/fridge/dist","qos":"0","retain":"false","broker":"73e9a24f.21590c","x":390,"y":260,"wires":[]},{"id":"334722fd.97294e","type":"comment","z":"3d91de7c.8d0e42","name":"Testing","info":"","x":150,"y":220,"wires":[]},{"id":"73e9a24f.21590c","type":"mqtt-broker","name":"","broker":"ragrug-mqtt","port":"1883","clientid":"nodered","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]