nodered_flow_examples/smart_fridge_distributed_client.json
[{"id":"ece826b8.56d178","type":"tab","label":"clientside2","disabled":false,"info":""},{"id":"5cd36295.c288fc","type":"function","z":"ece826b8.56d178","name":"B","func":"var visData = \n{\n    \"UID\":\"\",\n    \"VisualisationType\":\"SCATTERPLOT\",\n    \"parallelCoordinatesDimensionsAttributes\":[],\n    \"parallelCoordinatesDimensionsMinFilter\":[],\n    \"parallelCoordinatesDimensionsMaxFilter\":[],\n    \"parallelCoordinatesDimensionsMinScale\":[],\n    \"parallelCoordinatesDimensionsMaxScale\":[],\n    \"Geometry\":4,\n    \"AxiesKeys\":[0,1],\n    \"AxiesValues\":[\"id\",\"distance\"],\n    \"ColourDimension\":\"distance\",\n    \"SizeDimension\":\"distance\",\n    \"LinkingDimension\":\"names\",\n    \"colourKeys\":\n    {\n        \"serializedVersion\":\"2\",\n        \"key0\":{\"r\":1.0,\"g\":0.0,\"b\":0.0,\"a\":1.0},\n        \"key1\":{\"r\":0.0,\"g\":1.0,\"b\":0.0,\"a\":0.5},\n        \"key2\":{\"r\":0.0,\"g\":0.0,\"b\":0.0,\"a\":0.0},\n        \"key3\":{\"r\":0.0,\"g\":0.0,\"b\":0.0,\"a\":0.0},\n        \"key4\":{\"r\":0.0,\"g\":0.0,\"b\":0.0,\"a\":0.0},\n        \"key5\":{\"r\":0.0,\"g\":0.0,\"b\":0.0,\"a\":0.0},\n        \"key6\":{\"r\":0.0,\"g\":0.0,\"b\":0.0,\"a\":0.0},\n        \"key7\":{\"r\":0.0,\"g\":0.0,\"b\":0.0,\"a\":0.0},\n        \"ctime0\":0,\"ctime1\":65535,\"ctime2\":0,\"ctime3\":0,\"ctime4\":0,\"ctime5\":0,\"ctime6\":0,\"ctime7\":0,\n        \"atime0\":0,\"atime1\":65535,\"atime2\":0,\"atime3\":0,\"atime4\":0,\"atime5\":0,\"atime6\":0,\"atime7\":0,\n        \"m_Mode\":0,\n        \"m_NumColorKeys\":2,\n        \"m_NumAlphaKeys\":2\n    },\n    \"colour\":{\"r\":0.0,\"g\":0.0,\"b\":1.0,\"a\":0.5},\n    \"Size\":0.2,\n    \"MinSize\":0.01,\n    \"MaxSize\":0.2,\n    \"VisualisationWidth\":0.3,\n    \"VisualisationHeight\":0.3,\n    \"VisualisationDepth\":0.3\n};\nmsg.payload = visData;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":120,"wires":[["7425f5e1.eec61c"]]},{"id":"d847a301.25e4c","type":"inject","z":"ece826b8.56d178","name":"A","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":150,"y":120,"wires":[["5cd36295.c288fc"]]},{"id":"7425f5e1.eec61c","type":"function","z":"ece826b8.56d178","name":"C","func":"try {\n    console.log(\"INIT IATK from NR ... 1\");\n    var nextId = Main_GetNextChartId();\n    \n    flow.set(\"jsonchart\", nextId);\n    \n    console.log(\"INIT IATK from NR ... 2\");\n    var chartObj = RT.VIS.GetNewChartObjectIATK2(\n        nextId, \n        MAIN.usercanvas.charts.length,\n        \"IATKChart\", \n        MAIN.usercanvas.canvasSize, \n        MAIN.usercanvas.canvasSpacedSize,\n        false);\n\n    MAIN.usercanvas.charts.push(chartObj);\n    MAIN.RR.Runtime.ToggleObjManipulation(chartObj.chartGoName);\n\n    chartObj.rtds.AddDimension(\"distance\", 0, 300);\n    chartObj.rtds.SetDataStrVal(\"distance\", 250);\n    \n    chartObj.rtds.AddDimension(\"temperature\", 0, 1);\n    chartObj.abstractVisualisation.UpdateVisualisation(chartObj.PropertyType.Y);\n        \n    //apply json here\n    var json = JSON.stringify(msg.payload);\n    chartObj.vis.theVisualizationObject.creationConfiguration.DeserializeJson(json);\n    \n    //update from json\n    importNamespace(\"IATK\").Replicator.SyncVis(chartObj.vis);\n    chart.fctUpdateChart();\n    chart.vis.updateProperties();\n    \n    msg.payload = nextId;\n} catch(err) {\n    var strmsg = \"trying to run client side code ... => \" + err;\n    msg.payload = strmsg;\n    node.warn(\"C => \" + strmsg);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":120,"wires":[[]]},{"id":"39f2ed2b.e7e8d2","type":"mqtt in","z":"ece826b8.56d178","name":"F","topic":"telemetry/inffeld16/2nd/id2068/thermometer/this/SENSOR","qos":"0","datatype":"auto","broker":"73e9a24f.21590c","x":130,"y":180,"wires":[["d183b135.b7298"]]},{"id":"8b95f38c.fa055","type":"function","z":"ece826b8.56d178","name":"J","func":"//\"{\"Time\":\"2021-08-17T07:31:36\",\"BME280\":{\"Temperature\":26.1,\"Humidity\":47.2,\"DewPoint\":14.0,\"Pressure\":973.8},\"SR04\":{\"Distance\":59.368},\"PressureUnit\":\"hPa\",\"TempUnit\":\"C\"}\"\n\nvar data = msg.payload;\nvar temperature = data.BME280.Temperature;\nvar humidity = data.BME280.Humidity;\nvar distance = data.SR04.Distance;\nvar chartId = flow.get(\"jsonchart\");\n\ntry {\n    var chart = MAIN.usercanvas.charts[chartId];\n    chart.rtds.SetDataStrVal(\"distance\", distance);\n    chart.rtds.SetDataStrVal(\"temperature\", temperature);\n    chart.fctUpdateChart();\n} catch(err) {\n    node.warn(\"CNR J ERROR (maybe trying to run client code?) => \" + err);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":180,"wires":[["af4a343a.ab9cd8"]]},{"id":"af4a343a.ab9cd8","type":"debug","z":"ece826b8.56d178","name":"K","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":180,"wires":[]},{"id":"d52651e4.1de1d","type":"mqtt in","z":"ece826b8.56d178","name":"G","topic":"telemetry/inffeld16/2nd/id2068/thermometer/this/STATUS8","qos":"0","datatype":"auto","broker":"73e9a24f.21590c","x":130,"y":240,"wires":[["9e6193c8.7d349"]]},{"id":"9e6193c8.7d349","type":"function","z":"ece826b8.56d178","name":"I","func":"var data = JSON.parse(msg.payload);\nmsg.payload = data.StatusSNS;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":240,"wires":[["8b95f38c.fa055"]]},{"id":"d183b135.b7298","type":"function","z":"ece826b8.56d178","name":"H","func":"var data = JSON.parse(msg.payload);\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":180,"wires":[["8b95f38c.fa055"]]},{"id":"1a8560ab.b445bf","type":"function","z":"ece826b8.56d178","name":"E","func":"\nvar chartId = flow.get(\"jsonchart\");\n\ntry {\n    var chart = MAIN.usercanvas.charts[chartId];\n    \n    \n    //Move to HUD\n    var hT = MAIN.camHookGo.transform.position;\n    var hR = MAIN.camHookGo.transform.rotation;\n    var T = [hT.x, hT.y, hT.z];\n    var R = [hR.x, hR.y, hR.z, hR.w];\n    RT.Unity.SetPose(chart.chartGo, T, R, null);\n    //RT.Unity.SetParent(chart.chartGo, MAIN.camHookGo);\n    //RT.Unity.SetLocalPose(chart.chartGo, [0,-0.1,0], null, null);\n    \n    var bc = MAIN.RR.Runtime.AddBoxCollider(chart.chartGo);\n    bc.size = new MAIN.UE.Vector3(0.3, 0.3, 0.3);\n    \n    /*\n    //Move to Palm\n    var targetGo = MAIN.UE.GameObject.Find(\"MyRightTip\");\n    //var targetGo = MAIN.palmHandMenuGo;\n    var hT = MAIN.camHookGo.transform.position;\n    var hR = MAIN.camHookGo.transform.rotation;\n    var T = [hT.x, hT.y, hT.z];\n    var R = [hR.x, hR.y, hR.z, hR.w];\n    RT.Unity.SetPose(chart.chartGo, T, R, null);\n    RT.Unity.SetParent(chart.chartGo, targetGo);\n    RT.Unity.SetLocalPose(chart.chartGo, [0,0,0], null, null);\n    */\n} catch(err) {\n    node.warn(\"CNR E ERROR (maybe trying to run client code?) => \" + err);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":120,"wires":[[]]},{"id":"1f48ada9.7ceab2","type":"inject","z":"ece826b8.56d178","name":"D","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"7","topic":"","payload":"","payloadType":"date","x":790,"y":120,"wires":[["1a8560ab.b445bf"]]},{"id":"521c9eb0.5085f","type":"function","z":"ece826b8.56d178","name":"B","func":"var visData = \n{\n    \"UID\":\"\",\n    \"VisualisationType\":\"SCATTERPLOT\",\n    \"parallelCoordinatesDimensionsAttributes\":[],\n    \"parallelCoordinatesDimensionsMinFilter\":[],\n    \"parallelCoordinatesDimensionsMaxFilter\":[],\n    \"parallelCoordinatesDimensionsMinScale\":[],\n    \"parallelCoordinatesDimensionsMaxScale\":[],\n    \"Geometry\":4,\n    \"AxiesKeys\":[0,1],\n    \"AxiesValues\":[\"id\",\"temperature\"],\n    \"ColourDimension\":\"distance\",\n    \"SizeDimension\":\"Undefined\",\n    \"LinkingDimension\":\"names\",\n    \"colourKeys\":\n    {\n        \"serializedVersion\":\"2\",\n        \"key0\":{\"r\":1.0,\"g\":0.0,\"b\":0.0,\"a\":1.0},\n        \"key1\":{\"r\":0.0,\"g\":1.0,\"b\":0.0,\"a\":0.5},\n        \"key2\":{\"r\":0.0,\"g\":0.0,\"b\":0.0,\"a\":0.0},\n        \"key3\":{\"r\":0.0,\"g\":0.0,\"b\":0.0,\"a\":0.0},\n        \"key4\":{\"r\":0.0,\"g\":0.0,\"b\":0.0,\"a\":0.0},\n        \"key5\":{\"r\":0.0,\"g\":0.0,\"b\":0.0,\"a\":0.0},\n        \"key6\":{\"r\":0.0,\"g\":0.0,\"b\":0.0,\"a\":0.0},\n        \"key7\":{\"r\":0.0,\"g\":0.0,\"b\":0.0,\"a\":0.0},\n        \"ctime0\":0,\"ctime1\":65535,\"ctime2\":0,\"ctime3\":0,\"ctime4\":0,\"ctime5\":0,\"ctime6\":0,\"ctime7\":0,\n        \"atime0\":0,\"atime1\":65535,\"atime2\":0,\"atime3\":0,\"atime4\":0,\"atime5\":0,\"atime6\":0,\"atime7\":0,\n        \"m_Mode\":0,\n        \"m_NumColorKeys\":2,\n        \"m_NumAlphaKeys\":2\n    },\n    \"colour\":{\"r\":0.0,\"g\":0.0,\"b\":1.0,\"a\":0.5},\n    \"Size\":0.2,\n    \"MinSize\":0.01,\n    \"MaxSize\":0.2,\n    \"VisualisationWidth\":0.3,\n    \"VisualisationHeight\":0.3,\n    \"VisualisationDepth\":0.3\n};\nmsg.payload = visData;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":380,"wires":[["b16d67a2.816618"]]},{"id":"3268a0ff.4701e","type":"inject","z":"ece826b8.56d178","name":"A","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":150,"y":380,"wires":[["521c9eb0.5085f"]]},{"id":"b16d67a2.816618","type":"function","z":"ece826b8.56d178","name":"C","func":"try {\n    console.log(\"INIT IATK from NR ... 1\");\n    var nextId = Main_GetNextChartId();\n    \n    flow.set(\"coolchart\", nextId);\n    \n    console.log(\"INIT IATK from NR ... 2\");\n    var chartObj = RT.VIS.GetNewChartObjectIATK2(\n        nextId, \n        MAIN.usercanvas.charts.length,\n        \"IATKChart\", \n        MAIN.usercanvas.canvasSize, \n        MAIN.usercanvas.canvasSpacedSize,\n        false);\n\n    MAIN.usercanvas.charts.push(chartObj);\n    MAIN.RR.Runtime.ToggleObjManipulation(chartObj.chartGoName);\n\n    chartObj.rtds.AddDimension(\"distance\", 0, 300);\n    chartObj.rtds.SetDataStrVal(\"distance\", 250);\n    \n    chartObj.rtds.AddDimension(\"temperature\", 0, 35);\n    chartObj.rtds.SetDataStrVal(\"distance\", 35);\n    \n    chartObj.abstractVisualisation.UpdateVisualisation(chartObj.PropertyType.Y);\n        \n    //apply json here\n    var json = JSON.stringify(msg.payload);\n    chartObj.vis.theVisualizationObject.creationConfiguration.DeserializeJson(json);\n    \n    //update from json\n    importNamespace(\"IATK\").Replicator.SyncVis(chartObj.vis);\n    chartObj.fctUpdateChart();\n    chartObj.vis.updateProperties();\n    \n    msg.payload = nextId;\n} catch(err) {\n    var strmsg = \"trying to run client side code ... => \" + err;\n    msg.payload = strmsg;\n    node.warn(\"C => \" + strmsg);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":380,"wires":[[]]},{"id":"9b634a31.323638","type":"mqtt in","z":"ece826b8.56d178","name":"F","topic":"telemetry/inffeld16/2nd/id2068/thermometer/this/SENSOR","qos":"0","datatype":"auto","broker":"73e9a24f.21590c","x":130,"y":440,"wires":[["ecec4d6c.ab4ca"]]},{"id":"3452183d.83eef8","type":"function","z":"ece826b8.56d178","name":"J","func":"//\"{\"Time\":\"2021-08-17T07:31:36\",\"BME280\":{\"Temperature\":26.1,\"Humidity\":47.2,\"DewPoint\":14.0,\"Pressure\":973.8},\"SR04\":{\"Distance\":59.368},\"PressureUnit\":\"hPa\",\"TempUnit\":\"C\"}\"\n\nvar data = msg.payload;\nvar temperature = data.BME280.Temperature;\nvar humidity = data.BME280.Humidity;\nvar distance = data.SR04.Distance;\nvar chartId = flow.get(\"coolchart\");\n\ntry {\n    var chart = MAIN.usercanvas.charts[chartId];\n    chart.rtds.SetDataStrVal(\"distance\", distance);\n    chart.rtds.SetDataStrVal(\"temperature\", temperature);\n    chart.fctUpdateChart();\n} catch(err) {\n    node.warn(\"CNR J ERROR (maybe trying to run client code?) => \" + err);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":440,"wires":[["fab7ccab.12da9"]]},{"id":"fab7ccab.12da9","type":"debug","z":"ece826b8.56d178","name":"K","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":440,"wires":[]},{"id":"4f3ad504.6f92dc","type":"mqtt in","z":"ece826b8.56d178","name":"G","topic":"telemetry/inffeld16/2nd/id2068/thermometer/this/STATUS8","qos":"0","datatype":"auto","broker":"73e9a24f.21590c","x":130,"y":500,"wires":[["159aa941.1a39c7"]]},{"id":"159aa941.1a39c7","type":"function","z":"ece826b8.56d178","name":"I","func":"var data = JSON.parse(msg.payload);\nmsg.payload = data.StatusSNS;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":500,"wires":[["3452183d.83eef8","d31b25db.a05348"]]},{"id":"ecec4d6c.ab4ca","type":"function","z":"ece826b8.56d178","name":"H","func":"var data = JSON.parse(msg.payload);\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":440,"wires":[["3452183d.83eef8","d31b25db.a05348"]]},{"id":"c2100c77.0b19a","type":"function","z":"ece826b8.56d178","name":"E","func":"\nvar chartId = flow.get(\"coolchart\");\n\ntry {\n    var chart = MAIN.usercanvas.charts[chartId];\n    \n    \n    //Move to HUD\n    var hT = MAIN.camHookGo.transform.position;\n    var hR = MAIN.camHookGo.transform.rotation;\n    var T = [hT.x, hT.y, hT.z];\n    var R = [hR.x, hR.y, hR.z, hR.w];\n    RT.Unity.SetPose(chart.chartGo, T, R, null);\n    //RT.Unity.SetParent(chart.chartGo, MAIN.camHookGo);\n    //RT.Unity.SetLocalPose(chart.chartGo, [0,-0.1,0], null, null);\n    \n    var bc = MAIN.RR.Runtime.AddBoxCollider(chart.chartGo);\n    bc.size = new MAIN.UE.Vector3(0.3, 0.3, 0.3);\n    \n    /*\n    //Move to Palm\n    var targetGo = MAIN.UE.GameObject.Find(\"MyRightTip\");\n    //var targetGo = MAIN.palmHandMenuGo;\n    var hT = MAIN.camHookGo.transform.position;\n    var hR = MAIN.camHookGo.transform.rotation;\n    var T = [hT.x, hT.y, hT.z];\n    var R = [hR.x, hR.y, hR.z, hR.w];\n    RT.Unity.SetPose(chart.chartGo, T, R, null);\n    RT.Unity.SetParent(chart.chartGo, targetGo);\n    RT.Unity.SetLocalPose(chart.chartGo, [0,0,0], null, null);\n    */\n} catch(err) {\n    node.warn(\"CNR E ERROR (maybe trying to run client code?) => \" + err);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":380,"wires":[[]]},{"id":"c8fca45.daa8558","type":"inject","z":"ece826b8.56d178","name":"D","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"7","topic":"","payload":"","payloadType":"date","x":790,"y":380,"wires":[["c2100c77.0b19a"]]},{"id":"58bfb280.04ca0c","type":"mqtt out","z":"ece826b8.56d178","name":"M rr/fridge/dist","topic":"rr/fridge/dist","qos":"0","retain":"false","broker":"73e9a24f.21590c","x":960,"y":500,"wires":[]},{"id":"d82e6198.876ff","type":"mqtt in","z":"ece826b8.56d178","name":"N rr/fridge/dooropen","topic":"rr/fridge/dooropen","qos":"0","datatype":"auto","broker":"73e9a24f.21590c","x":630,"y":560,"wires":[["aa67989d.993e18"]]},{"id":"aa67989d.993e18","type":"function","z":"ece826b8.56d178","name":"O","func":"\ntry {\n    if(msg.payload) {\n        PlayNotification();\n    }\n} catch(err) {\n    node.warn(\"CNR J ERROR (maybe trying to run client code?) => \" + err);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":560,"wires":[[]]},{"id":"d31b25db.a05348","type":"function","z":"ece826b8.56d178","name":"L","func":"var data = msg.payload;\nmsg.payload = data.SR04.Distance;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":500,"wires":[["58bfb280.04ca0c"]]},{"id":"73922aef.ce8a94","type":"comment","z":"ece826b8.56d178","name":"Temperature","info":"","x":150,"y":60,"wires":[]},{"id":"dda7ccc7.2d4de","type":"comment","z":"ece826b8.56d178","name":"Distance","info":"","x":140,"y":320,"wires":[]},{"id":"73e9a24f.21590c","type":"mqtt-broker","name":"","broker":"ragrug-mqtt","port":"1883","clientid":"nodered","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]