nodered_flow_examples/updating_view.json
[{"id":"47544329.54901c","type":"tab","label":"Ex. Updating","disabled":false,"info":""},{"id":"ef2716da.068a28","type":"function","z":"47544329.54901c","name":"view setup","func":"msg.viewBuilder = {};\nmsg.viewBuilder.viewName = \"Update Demo\";\nmsg.viewBuilder.pointCount = 20;\n\nmsg.view = {};\nmsg.view.name = msg.viewBuilder.viewName;\nmsg.view.attributes = [];\nmsg.view.data = [];\nlet xData = [];\nlet yData = [];\nlet zData = [];\nlet colors = [];\nlet angle = 360 / msg.viewBuilder.pointCount;\nfor(let i = 0; i < msg.viewBuilder.pointCount; i++) {\n    let radians = angle * i * (Math.PI / 180);\n    let x = Math.cos(radians);\n    let y = Math.sin(radians);\n    xData.push(0.5 + x / 2);\n    yData.push(0.5 + y / 2);\n    zData.push(0);\n    colors.push([Math.sin(radians), Math.sin(radians + Math.PI * 2 / 3), Math.sin(radians + Math.PI * 4 / 3)])\n}\nmsg.view.data[CNRIF.ViewData.XPosition] = xData;\nmsg.view.data[CNRIF.ViewData.YPosition] = yData;\nmsg.view.data[CNRIF.ViewData.ZPosition] = zData;\nmsg.view.data[CNRIF.ViewData.Color] = colors;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":120,"wires":[["adb450f8.12e32"]]},{"id":"adb450f8.12e32","type":"view-builder","z":"47544329.54901c","viewName":"","pointCount":"4","meshTopology":5,"geometryType":1,"clientFunction":"RRJSIATK_ViewBuilder","x":470,"y":120,"wires":[["fa8b2d70.36094"]]},{"id":"fa8b2d70.36094","type":"set-view-data","z":"47544329.54901c","viewData":-1,"clientFunction":"RRJSIATK_SetViewData","x":630,"y":120,"wires":[[]]},{"id":"37d53c85.6bcc04","type":"inject","z":"47544329.54901c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.05","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":220,"wires":[["68d79d26.9d3984"]]},{"id":"cc01d4e9.ea9d98","type":"get-view-data","z":"47544329.54901c","viewData":0,"location":"view.data","clientFunction":"RRJSIATK_GetViewData","x":470,"y":220,"wires":[["b62ed863.f85d48"]]},{"id":"68d79d26.9d3984","type":"get-view","z":"47544329.54901c","viewName":"Update Demo","msgBehavior":"1","clientFunction":"RRJSIATK_GetView","x":300,"y":220,"wires":[["cc01d4e9.ea9d98"]]},{"id":"ef2e4098.01881","type":"set-view-data","z":"47544329.54901c","viewData":-1,"clientFunction":"RRJSIATK_SetViewData","x":810,"y":220,"wires":[[]]},{"id":"b62ed863.f85d48","type":"function","z":"47544329.54901c","name":"","func":"let xData = msg.view.data[CNRIF.ViewData.XPosition];\nlet yData = msg.view.data[CNRIF.ViewData.YPosition];\nlet radians = 1 * (Math.PI / 180);\nfor(let i = 0; i < xData.length; i++) {\n    let x = (xData[i] - 0.5) * 2;\n    let y = (yData[i] - 0.5) * 2;\n    x = Math.cos(radians) * x - Math.sin(radians) * y;\n    y = Math.sin(radians) * x + Math.cos(radians) * y;\n    xData[i] = 0.5 + x / 2;\n    yData[i] = 0.5 + y / 2;\n}\nmsg.view.data[CNRIF.ViewData.XPosition] = xData;\nmsg.view.data[CNRIF.ViewData.YPosition] = yData;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":220,"wires":[["ef2e4098.01881"]]},{"id":"b43239cb.65b4e8","type":"comment","z":"47544329.54901c","name":"Setup View","info":"This function node constructs the message that the view builder node accepts. The points are set up to create a circle with rainbow colors.","x":310,"y":80,"wires":[]},{"id":"8d91e1d3.af92b","type":"inject","z":"47544329.54901c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["ef2716da.068a28"]]},{"id":"d443b037.0e076","type":"comment","z":"47544329.54901c","name":"Build View","info":"This node creates the view GameObject in the scene. After its creation it can be retrieved with a get view node.","x":460,"y":80,"wires":[]},{"id":"69b3aab3.f28804","type":"comment","z":"47544329.54901c","name":"Apply Data","info":"This node applies the XYZ positions and colors from the view setup function to the view.","x":620,"y":80,"wires":[]},{"id":"6c8b094.c01e6f8","type":"comment","z":"47544329.54901c","name":"Retrieve View","info":"With this node, any active view can be retrieved. Downstream nodes will act on this view.","x":310,"y":180,"wires":[]},{"id":"83cc4a3f.0df268","type":"comment","z":"47544329.54901c","name":"Read Data","info":"Reads data from the XYZ position of the view's data points and stores it in `msg.view.data`.","x":460,"y":180,"wires":[]},{"id":"930c4b30.9ca918","type":"comment","z":"47544329.54901c","name":"Update Positions","info":"This function node takes the positions and rotates them counterclockwise.","x":640,"y":180,"wires":[]},{"id":"65fc991d.0f29e8","type":"comment","z":"47544329.54901c","name":"Write Data","info":"Writes the modified position values back to the view.","x":800,"y":180,"wires":[]}]