testdata/midi_simulator_flow.json
[{"id":"ae3fde33.6aaad","type":"tab","label":"Midi Simulator","disabled":false,"info":""},{"id":"b97cdaad.5066b8","type":"inject","z":"ae3fde33.6aaad","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":0.1,"x":230,"y":240,"wires":[["ae3d5190.5ccff"]]},{"id":"ae3d5190.5ccff","type":"function","z":"ae3fde33.6aaad","name":"","func":"for(var i = 0; i < 32; i++) {\n    var mi = flow.get(\"mindex\");\n    var mm = flow.get(\"mmulti\");\n    var mf = flow.get(\"mfreq\");\n    \n    \n    if(mi == \"undefined\") {\n        flow.set(\"mindex\",0);\n        mi = 0;\n    }\n    \n    if(mi > 16) {\n        mi -= 16;\n    }\n    \n    var ampli = Math.sin(mi) * mm;\n    mi += (1/16) * mf + mm;\n    flow.set(\"mindex\",mi);\n    \n    var midi = {};\n    midi.ampli = ampli;\n    \n    msg.payload = midi;\n    node.send(msg);\n}\nreturn null;","outputs":1,"noerr":0,"x":410,"y":240,"wires":[["99473cc2.f02c3"]]},{"id":"77d6b14a.23d73","type":"debug","z":"ae3fde33.6aaad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":180,"wires":[]},{"id":"d4516b72.e2a608","type":"ui_chart","z":"ae3fde33.6aaad","name":"","group":"4cb02068.5714d","order":1,"width":10,"height":8,"label":"Sound","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1130,"y":220,"wires":[[]]},{"id":"ef63b1af.229bf","type":"mqtt out","z":"ae3fde33.6aaad","name":"","topic":"rr/midi/sound","qos":"0","retain":"false","broker":"683c4571.cf6e2c","x":1010,"y":280,"wires":[]},{"id":"6a4a3ca.7b172c4","type":"mqtt in","z":"ae3fde33.6aaad","name":"","topic":"rr/midi/ampli","qos":"2","datatype":"auto","broker":"683c4571.cf6e2c","x":220,"y":120,"wires":[["e7ae2ee5.a8019"]]},{"id":"e7ae2ee5.a8019","type":"function","z":"ae3fde33.6aaad","name":"","func":"var v = parseFloat(msg.payload);\nflow.set(\"mmulti\", v);\nmsg.payload = v;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":120,"wires":[["5647ca69.2df184","393c7c1d.520644"]]},{"id":"52d8782.bc5f088","type":"mqtt out","z":"ae3fde33.6aaad","name":"","topic":"rr/midi/ampli","qos":"","retain":"","broker":"683c4571.cf6e2c","x":510,"y":480,"wires":[]},{"id":"d6b866e6.1ad5d8","type":"comment","z":"ae3fde33.6aaad","name":"test ampli","info":"","x":220,"y":360,"wires":[]},{"id":"bb94c196.b396a","type":"inject","z":"ae3fde33.6aaad","name":"","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":500,"wires":[["52d8782.bc5f088"]]},{"id":"501312bb.fb82bc","type":"inject","z":"ae3fde33.6aaad","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":540,"wires":[["52d8782.bc5f088"]]},{"id":"40c1fe3f.68f8b","type":"inject","z":"ae3fde33.6aaad","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":460,"wires":[["52d8782.bc5f088"]]},{"id":"99473cc2.f02c3","type":"delay","z":"ae3fde33.6aaad","name":"","pauseType":"rate","timeout":"70","timeoutUnits":"milliseconds","rate":"17","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":240,"wires":[["93ca6a40.69cdc8"]]},{"id":"93ca6a40.69cdc8","type":"function","z":"ae3fde33.6aaad","name":"collector","func":"\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":240,"wires":[["ef63b1af.229bf","77d6b14a.23d73","f9be6df.40baa9"]]},{"id":"27fc3de3.fe9a92","type":"mqtt out","z":"ae3fde33.6aaad","name":"","topic":"rr/midi/freq","qos":"","retain":"","broker":"683c4571.cf6e2c","x":500,"y":620,"wires":[]},{"id":"27e70310.2c9fcc","type":"inject","z":"ae3fde33.6aaad","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":640,"wires":[["27fc3de3.fe9a92"]]},{"id":"4576ec8b.962dd4","type":"inject","z":"ae3fde33.6aaad","name":"","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":680,"wires":[["27fc3de3.fe9a92"]]},{"id":"7ad11490.9741dc","type":"inject","z":"ae3fde33.6aaad","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":600,"wires":[["27fc3de3.fe9a92"]]},{"id":"92d03df.74863c","type":"mqtt in","z":"ae3fde33.6aaad","name":"","topic":"rr/midi/freq","qos":"2","datatype":"auto","broker":"683c4571.cf6e2c","x":200,"y":180,"wires":[["79eec484.6159bc"]]},{"id":"79eec484.6159bc","type":"function","z":"ae3fde33.6aaad","name":"","func":"var v = parseFloat(msg.payload);\nflow.set(\"mfreq\", v);\nmsg.payload = v;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":180,"wires":[["5647ca69.2df184","623157fc.295c68"]]},{"id":"5647ca69.2df184","type":"debug","z":"ae3fde33.6aaad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":180,"wires":[]},{"id":"b84edb5b.bb5b28","type":"inject","z":"ae3fde33.6aaad","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":80,"wires":[["79663440.93fd9c"]]},{"id":"79663440.93fd9c","type":"function","z":"ae3fde33.6aaad","name":"","func":"var v = parseFloat(msg.payload);\nflow.set(\"mindex\", v);\nmsg.payload = v;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":80,"wires":[["5647ca69.2df184"]]},{"id":"393c7c1d.520644","type":"ui_gauge","z":"ae3fde33.6aaad","name":"","group":"4cb02068.5714d","order":3,"width":4,"height":4,"gtype":"gage","title":"Amplitude","label":"units","format":"{{value}}","min":0,"max":"75","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":60,"wires":[]},{"id":"623157fc.295c68","type":"ui_gauge","z":"ae3fde33.6aaad","name":"","group":"4cb02068.5714d","order":2,"width":4,"height":4,"gtype":"gage","title":"Freq Mult","label":"units","format":"{{value}}","min":0,"max":"8","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":100,"wires":[]},{"id":"f9be6df.40baa9","type":"function","z":"ae3fde33.6aaad","name":"","func":"msg.payload = msg.payload.ampli;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":220,"wires":[["d4516b72.e2a608"]]},{"id":"81ee7b0c.76dce8","type":"inject","z":"ae3fde33.6aaad","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":420,"wires":[["52d8782.bc5f088"]]},{"id":"4cb02068.5714d","type":"ui_group","z":"","name":"Default","tab":"9a7e976d.121498","disp":true,"width":14,"collapse":false},{"id":"683c4571.cf6e2c","type":"mqtt-broker","z":"","name":"rr abckend","broker":"10.0.0.2","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9a7e976d.121498","type":"ui_tab","z":"","name":"MIDI","icon":"dashboard","disabled":false,"hidden":false}]